/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1280px) {
  body {
    font-family: "Noto Sans KR", sans-serif !important;
  }
  img {
    transform: translateZ(0);
    backface-visibility: hidden;
    display: block;
  }
  .b-col {
    color: #6fd9f8;
  }
  .mo {
    display: none;
  }
  .web {
    display: inline-block;
  }
  .container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .container .wrap {
    width: 100%;
    height: 100%;
    min-height: 56.25vw;
  }
  .container .wrap .swiper {
    width: 100%;
    height: 100%;
  }
  .container .wrap .swiper .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .container .wrap .swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container .wrap .swiper .swiper-slide .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
  .container .wrap .swiper .swiper-slide .inner p {
    width: auto;
    color: #fff;
    font-weight: 900;
    letter-spacing: -0.07em;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
    text-rendering: geometricPrecision;
  }
  .container .wrap .swiper .swiper-slide .inner p s {
    color: #6fd9f8;
  }
  .container .wrap .swiper .swiper-slide .inner p.tit {
    font-size: 3.125vw;
    line-height: 3.4375vw;
  }
  .container .wrap .swiper .swiper-slide .inner p.t-top {
    font-size: 1.30208333vw;
    color: #6fd9f8;
    line-height: 1;
    letter-spacing: 0vw;
  }
  .container .wrap .swiper .swiper-slide .inner p.sub-tit {
    font-size: 2.86458333vw;
    font-weight: 700;
    line-height: 2.96875vw;
    letter-spacing: -0.05em;
  }
  .container .wrap .swiper .swiper-slide .inner p.txt20 {
    font-size: 1.04166667vw;
    font-weight: 400;
    line-height: 1.14583333vw;
  }
  .container .wrap .swiper .swiper-slide .inner p.txt25 {
    font-size: 1.30208333vw;
    font-weight: 500;
    line-height: 1.82291667vw;
  }
  .container .wrap .swiper .swiper-slide .inner p.txt35 {
    font-size: 1.82291667vw;
    font-weight: 700;
    line-height: 2.03125vw;
  }
  .container .wrap .swiper .swiper-slide .inner p.txt30 {
    font-size: 1.5625vw;
    font-weight: 700;
    line-height: 1.875vw;
  }
  .container .wrap .swiper .swiper-slide .inner p.txt50 {
    font-size: 2.60416667vw;
    font-weight: 700;
    line-height: 2.70833333vw;
  }
  .container .wrap .swiper .swiper-slide .inner p.txt70 {
    font-size: 3.64583333vw;
    font-weight: 700;
    line-height: 3.75vw;
  }
  .container .wrap .swiper .swiper-slide .inner p.source {
    font-size: 1.04166667vw;
    font-weight: 400;
    line-height: 1.25vw;
  }
  .container .wrap .swiper .swiper-slide .inner img {
    opacity: 0;
    transition: all 2s;
    transition-delay: 1s;
  }
  .container .wrap .swiper .swiper-slide .inner .utv {
    width: 31.45833333vw;
    height: 15.625vw;
    margin-top: 3.90625vw;
    display: inline-block;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
  }
  .container .wrap .swiper .swiper-slide .inner .utv iframe {
    width: 100%;
    height: 100%;
  }
  .container .wrap .swiper .swiper-slide .inner video {
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide1 video {
    height: 100%;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide1 .inner {
    margin-top: -2.60416667vw;
    width: 100%;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide1 .inner .tit {
    position: absolute;
    left: 50%;
    top: 0vw;
    right: auto;
    bottom: auto;
    transform: translateX(-50%);
  }
  .container .wrap .swiper .swiper-slide.swiper-slide1.active-t1 .inner .tit1 {
    opacity: 1;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide1.active-t2 .inner .tit2 {
    opacity: 1;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide2 .inner {
    margin-top: 10.41666667vw;
    transition: all 1.8s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide2 .inner p.t-top {
    transition-delay: 0.5s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide2 .inner p.sub-tit {
    margin-top: 4.6875vw;
    transition-delay: 0.9s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide2 .inner p.txt25 {
    margin-top: 1.5625vw;
    transition-delay: 1.3s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide2 .inner p.source {
    margin-top: 2.86458333vw;
    transition-delay: 1.7s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide3 .inner p {
    width: auto;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide3 .inner p.sub-tit {
    transition-delay: 0.8s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide3 .inner p.txt35 {
    margin-top: 0.78125vw;
    transition-delay: 0.8s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide3 .inner p.txt37 {
    font-size: 1.92708333vw;
    line-height: 1.97916667vw;
    position: absolute;
    left: 50%;
    top: 14.01041667vw;
    right: auto;
    bottom: auto;
    transform: translateX(0);
    margin-left: -11.45833333vw;
    color: #000;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide3 .inner p.source {
    position: absolute;
    left: 50%;
    top: 27.60416667vw;
    right: auto;
    bottom: auto;
    transform: translateX(0);
    margin-left: -15.625vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide3 .inner p.txt25 {
    margin-top: 0vw;
    position: absolute;
    left: 50%;
    top: 24.47916667vw;
    right: auto;
    bottom: auto;
    margin-left: 4.16666667vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide3 .inner .img3-1 {
    width: 26.04166667vw;
    height: 10.41666667vw;
    display: inline-block;
    margin-top: 2.08333333vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide4 .inner {
    margin-top: 0vw !important;
    transform: translate(0, -50%);
    margin-left: 3.125vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide4 .inner p.sub-tit {
    margin-top: 3.64583333vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide4 .inner p.txt25 {
    margin-top: 1.30208333vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide4 .inner p.txt30 {
    margin-top: 1.5625vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide4 .inner p.txt30 s {
    color: #6fd9f8;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide4 .dr {
    font-size: 1.04166667vw;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    left: 3.125vw;
    bottom: 2.34375vw;
    right: auto;
    top: auto;
    color: #fff;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide5 .inner {
    margin-top: 0vw;
    width: 100%;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide5 .inner div {
    display: inline-block;
    margin-top: 0vw;
    margin-right: 4.6875vw;
    margin-bottom: 0vw;
    margin-left: 4.6875vw;
    vertical-align: top;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide5 .inner p.sub-tit {
    margin-top: 3.38541667vw;
    line-height: 3.69791667vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide5 .inner p.txt35 {
    margin-top: 1.82291667vw;
    font-weight: 500;
    line-height: 2.29166667vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide5 .inner p.txt20 {
    margin-top: 1.82291667vw;
    color: #fff;
    font-weight: 400;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide5 .inner p.txt20.comm1 {
    font-weight: 500;
    padding-top: 13.54166667vw;
    margin-top: 0vw;
    box-sizing: border-box;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide5 .inner p.txt20.comm4 {
    opacity: 0.3;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide5 .inner p.txt20.comm5 {
    opacity: 0.2;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide6 .inner {
    width: 100%;
    height: 100%;
    margin-top: 10.41666667vw;
    transition: all 2s ease-in-out;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide6 .inner div {
    position: absolute;
    left: 50%;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide6 .inner .le {
    top: 14.0625vw;
    margin-left: -26.04166667vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide6 .inner .le p {
    width: auto;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide6 .inner .le pt-top {
    transition-delay: 0.5s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide6 .inner .le p.txt70 {
    font-size: 3.48958333vw;
    margin-top: 3.125vw;
    transition-delay: 1.3s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide6 .inner .le p.txt25 {
    margin-top: 1.5625vw;
    transition-delay: 1.8s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide6 .inner .ri {
    margin-left: 8.85416667vw;
    bottom: 0vw;
    top: auto;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide6 .inner .ri .img6-1 {
    width: 20.72916667vw;
    height: 39.79166667vw;
    display: inline-block;
    transition-delay: 1.3s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner .innerSwiper1 {
    width: 57.29166667vw;
    display: inline-block;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner .innerSwiper1 .swiper-slide .slide-inner {
    margin-top: 0vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner .innerSwiper1 .swiper-slide .slide-inner .t-box {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translateY(-50%);
    width: 29.6875vw;
    margin-left: -29.6875vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner .innerSwiper1 .swiper-slide .slide-inner .t-box p.sub-tit {
    margin-top: 2.60416667vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner .innerSwiper1 .swiper-slide .slide-inner .t-box p.txt25 {
    margin-top: 2.60416667vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner .innerSwiper1 .swiper-slide .slide-inner .t-box p.txt25 span {
    font-weight: 700;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner .innerSwiper1 .swiper-slide .slide-inner .t-box p.sub-tit {
    margin-top: 2.60416667vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner .innerSwiper1 .swiper-slide .slide-inner .img7 {
    width: 23.38541667vw;
    height: 13.125vw;
    display: inline-block;
    margin-top: 0vw;
    margin-left: 2.39583333vw;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translateY(-50%);
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner .innerSwiper1 .swiper-slide .slide-inner.slide-inner5 {
    margin-top: 0vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner .swiper-button {
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translateY(-50%);
    margin-top: 0vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner .swiper-button:after {
    display: none;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner .swiper-button.swiper-button-disabled {
    opacity: 0;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner .swiper-button.swiper-button-prev {
    background-repeat: no-repeat;
    background-image: url('../img/mo/arrow-l.png');
    background-size: contain;
    width: 1.40625vw;
    height: 4.42708333vw;
    margin-left: 0vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide7 .inner .swiper-button.swiper-button-next {
    background-repeat: no-repeat;
    background-image: url('../img/mo/arrow-r.png');
    background-size: contain;
    width: 1.40625vw;
    height: 4.42708333vw;
    margin-left: 26.5625vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide8 .inner {
    margin-top: 0vw;
    width: 100%;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide8 .inner .t-box {
    display: inline-block;
    vertical-align: middle;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide8 .inner .t-box p.sub-tit {
    margin-top: 3.38541667vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide8 .inner .t-box p.txt25 {
    margin-top: 1.04166667vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide8 .utv {
    width: 33.69791667vw;
    height: 18.80208333vw;
    margin-top: 0vw;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3.125vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide8 .utv iframe {
    width: 100%;
    height: 100%;
    display: block;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide9 .inner {
    margin-top: 0vw;
    width: 100%;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide9 .inner .t-box {
    display: inline-block;
    vertical-align: middle;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide9 .inner .t-box p.sub-tit {
    margin-top: 2.60416667vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide9 .inner .box {
    margin-top: 0vw;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3.125vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide9 .inner .box .cell {
    width: 13.64583333vw;
    height: 8.02083333vw;
    margin-top: 0.46875vw;
    margin-right: 0.625vw;
    margin-bottom: 0.46875vw;
    margin-left: 0.625vw;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    vertical-align: top;
    position: relative;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide9 .inner .box .cell .txt25 {
    font-size: 1.30208333vw;
    line-height: 1;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide9 .inner .box .cell .txt25 s {
    font-size: 0.9375vw;
    color: #fff;
    margin-top: 1.5625vw;
    display: inline-block;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide10 .inner {
    width: 33.85416667vw;
    margin-top: 0vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide10 .inner:after {
    content: '';
    display: block;
    position: absolute;
    left: -0.78125vw;
    bottom: 0vw;
    right: auto;
    top: auto;
    width: 0.26041667vw;
    height: 16.25vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/img10-line.png');
    background-size: contain;
    display: inline-block;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide10 .inner p.sub-tit {
    margin-top: 3.125vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide10 .inner p.txt25 {
    margin-top: 1.04166667vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide10 .inner .innerSwiper2 {
    height: auto;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide10 .inner .innerSwiper2 .swiper-slide .slide-inner {
    position: relative;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide10 .inner .innerSwiper2 .swiper-slide .slide-inner .img10 {
    width: 33.33333333vw;
    height: 16.19791667vw;
    display: inline-block;
    margin-top: 0.88541667vw;
    transition-delay: 0.7s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide10 .inner .innerSwiper2 .swiper-slide .slide-inner .t-box {
    position: absolute;
    left: 14.42708333vw;
    top: 3.54166667vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide10 .inner .innerSwiper2 .swiper-slide .slide-inner .t-box p {
    width: auto;
    text-align: left;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide10 .inner .innerSwiper2 .swiper-slide .slide-inner .t-box p.txt20 {
    font-weight: 700;
    color: #6fd9f8;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide10 .inner .innerSwiper2 .swiper-slide .slide-inner .t-box p.txt40 {
    font-size: 2.08333333vw;
    font-weight: 700;
    font-weight: 500;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide10 .inner .innerSwiper2 .swiper-slide .slide-inner .t-box p.txt22 {
    font-size: 1.14583333vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide10 .inner .innerSwiper2 .swiper-slide .slide-inner .t-box p.txt22 s {
    display: block;
    margin-top: 1.19791667vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide11 .inner {
    margin-top: 2.1875vw;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide11 .inner:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: -1.77083333vw;
    right: auto;
    bottom: auto;
    background-repeat: no-repeat;
    background-image: url('../img/mo/img11-1.png');
    background-size: contain;
    width: 10.41666667vw;
    height: 13.69791667vw;
    margin-left: -18.22916667vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide11 .inner p {
    position: relative;
    z-index: 1;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide11 .inner p.t-top {
    color: #1930e2;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide11 .inner p.txt92 {
    font-size: 4.79166667vw;
    line-height: 5vw;
    font-weight: 700;
    margin-top: 3.125vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide11 .inner p.txt30 {
    font-weight: 500;
    margin-top: 1.5625vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide11 .inner p.txt25 {
    font-weight: 500;
    margin-top: 0.52083333vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide11 .inner p s {
    font-weight: 700;
    color: #fff;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide11 .inner .btn {
    font-size: 1.97916667vw;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: 17.70833333vw;
    height: 4.375vw;
    line-height: 4.375vw;
    background-color: #6aea12;
    margin-top: 3.64583333vw;
    cursor: pointer;
    z-index: 5;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide12 .inner {
    margin-top: 0vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide12 .inner p.txt36 {
    font-size: 1.875vw;
    line-height: 2.08333333vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide12 .inner .utv {
    margin-top: 2.60416667vw;
    width: 33.54166667vw;
    height: 20.3125vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide12 footer {
    position: absolute;
    left: 50%;
    bottom: 1.82291667vw;
    right: auto;
    top: auto;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.7s;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide12 footer p {
    color: #8d8c8d;
    font-weight: 400;
    letter-spacing: -0.05em;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide12 footer p.txt {
    font-size: 0.88541667vw;
    line-height: 1.09375vw;
  }
  .container .wrap .swiper .swiper-slide.swiper-slide12 footer p.copy {
    font-size: 0.67708333vw;
    margin-top: 0.52083333vw;
  }
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner {
    opacity: 1;
    margin-top: 0vw;
  }
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner:after,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner:after,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner:after,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner:after,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner:after,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner:after,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner:after,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner:after,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner:after,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner:after,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner:after {
    opacity: 1;
  }
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner p,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner p,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner p,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner p,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner p,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner p,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner p,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner p,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner p,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner p,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner p,
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner img,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner img,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner img,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner img,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner img,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner img,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner img,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner img,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner img,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner img,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner img,
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner video,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner video,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner video,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner video,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner video,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner video,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner video,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner video,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner video,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner video,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner video,
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner .utv,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner .utv,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner .utv,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner .utv,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner .utv,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner .utv,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner .utv,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner .utv,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner .utv,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner .utv,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner .utv,
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner .img3-1,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner .img3-1,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner .img3-1,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner .img3-1,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner .img3-1,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner .img3-1,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner .img3-1,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner .img3-1,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner .img3-1,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner .img3-1,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner .img3-1,
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner .img1-6,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner .img1-6,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner .img1-6,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner .img1-6,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner .img1-6,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner .img1-6,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner .img1-6,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner .img1-6,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner .img1-6,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner .img1-6,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner .img1-6,
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner .box,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner .box,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner .box,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner .box,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner .box,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner .box,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner .box,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner .box,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner .box,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner .box,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner .box {
    opacity: 1;
  }
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner p.source,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner p.source,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner p.source,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner p.source,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner p.source,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner p.source,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner p.source,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner p.source,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner p.source,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner p.source,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner p.source,
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner img.source,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner img.source,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner img.source,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner img.source,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner img.source,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner img.source,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner img.source,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner img.source,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner img.source,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner img.source,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner img.source,
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner video.source,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner video.source,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner video.source,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner video.source,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner video.source,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner video.source,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner video.source,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner video.source,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner video.source,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner video.source,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner video.source,
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner .utv.source,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner .utv.source,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner .utv.source,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner .utv.source,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner .utv.source,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner .utv.source,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner .utv.source,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner .utv.source,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner .utv.source,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner .utv.source,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner .utv.source,
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner .img3-1.source,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner .img3-1.source,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner .img3-1.source,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner .img3-1.source,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner .img3-1.source,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner .img3-1.source,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner .img3-1.source,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner .img3-1.source,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner .img3-1.source,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner .img3-1.source,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner .img3-1.source,
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner .img1-6.source,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner .img1-6.source,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner .img1-6.source,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner .img1-6.source,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner .img1-6.source,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner .img1-6.source,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner .img1-6.source,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner .img1-6.source,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner .img1-6.source,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner .img1-6.source,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner .img1-6.source,
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner .box.source,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner .box.source,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner .box.source,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner .box.source,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner .box.source,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner .box.source,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner .box.source,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner .box.source,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner .box.source,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner .box.source,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner .box.source {
    opacity: 0.6;
  }
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner .img3-1,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner .img3-1,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner .img3-1,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner .img3-1,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner .img3-1,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner .img3-1,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner .img3-1,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner .img3-1,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner .img3-1,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner .img3-1,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner .img3-1 {
    width: 32.96875vw;
    height: 17.8125vw;
  }
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner .img6-1,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner .img6-1,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner .img6-1,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner .img6-1,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner .img6-1,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner .img6-1,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner .img6-1,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner .img6-1,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner .img6-1,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner .img6-1,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner .img6-1 {
    width: 20.72916667vw;
    height: 29.6875vw;
  }
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner .slide-inner p,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner .slide-inner p,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner .slide-inner p,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner .slide-inner p,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner .slide-inner p,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner .slide-inner p,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner .slide-inner p,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner .slide-inner p,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner .slide-inner p,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner .slide-inner p,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner .slide-inner p,
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .inner .slide-inner img,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .inner .slide-inner img,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .inner .slide-inner img,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .inner .slide-inner img,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .inner .slide-inner img,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .inner .slide-inner img,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .inner .slide-inner img,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .inner .slide-inner img,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .inner .slide-inner img,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .inner .slide-inner img,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .inner .slide-inner img {
    opacity: 1;
  }
  .container .wrap .swiper[data-page='2'] .swiper-slide2 .dr,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 .dr,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 .dr,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 .dr,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 .dr,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 .dr,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 .dr,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 .dr,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 .dr,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 .dr,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 .dr {
    opacity: 0.83;
  }
  .container .wrap .swiper[data-page='2'] .swiper-slide2 footer,
  .container .wrap .swiper[data-page='3'] .swiper-slide3 footer,
  .container .wrap .swiper[data-page='4'] .swiper-slide4 footer,
  .container .wrap .swiper[data-page='7'] .swiper-slide7 footer,
  .container .wrap .swiper[data-page='6'] .swiper-slide6 footer,
  .container .wrap .swiper[data-page='9'] .swiper-slide9 footer,
  .container .wrap .swiper[data-page='5'] .swiper-slide5 footer,
  .container .wrap .swiper[data-page='8'] .swiper-slide8 footer,
  .container .wrap .swiper[data-page='10'] .swiper-slide10 footer,
  .container .wrap .swiper[data-page='11'] .swiper-slide11 footer,
  .container .wrap .swiper[data-page='12'] .swiper-slide12 footer {
    opacity: 1;
  }
  .container .wrap .scroll-ico {
    position: fixed;
    left: 50%;
    bottom: 2.08333333vw;
    right: auto;
    top: auto;
    transform: translateX(-50%);
    z-index: 5;
    text-align: center;
  }
  .container .wrap .scroll-ico .scroll-down {
    cursor: pointer;
    width: 3.125vw;
    height: 3.125vw;
    display: inline-block;
    display: none;
  }
  .container .wrap .scroll-ico .scroll-down svg {
    fill: #fff;
    display: inline-block;
    width: 1.40625vw;
    height: 2.5vw;
  }
  .container .wrap .scroll-ico .scroll-down p {
    font-size: 0.52083333vw;
    color: #fff;
  }
  .container .wrap .scroll-ico .scroll-down.active {
    display: inline-block;
  }
}
/*# sourceMappingURL=style-pc.css.map */