@import "asset";
@use-vw:true;
@vw:720;

body {
  font-family: "Noto Sans KR", sans-serif !important;
}
img { transform: translateZ(0); backface-visibility: hidden; .block; }

.b-col { color:#6fd9f8; }
.mo { .ib; }
.web { .hide; }

.container { .f; .rel;
  .wrap { .f;
    h1 { .fs(0); .fix; .rt; .wh(250,100); z-index: 10; .contain('../img/mo/logo.png');
      a { .ib; .f; .pointer; }
    }
    .swiper { .f;
      .swiper-slide { .tc; .flex; justify-content: center; align-items: center; .rel; .no-repeat; .cover; .bg-c;
        &.swiper-slide2 { background-image: url("../img/mo/img2.jpg"); }
        &.swiper-slide3 { background-image: url("../img/mo/img3.jpg"); }
        &.swiper-slide4 { background-image: url("../img/mo/img4.jpg"); }
        &.swiper-slide5 { background-image: url("../img/mo/img5.jpg"); }
        &.swiper-slide6 { background-image: url("../img/mo/img6.jpg"); }
        &.swiper-slide7 { background-image: url("../img/mo/img7.jpg"); }
        &.swiper-slide8 { background-image: url("../img/mo/img8.jpg"); }
        &.swiper-slide9 { background-image: url("../img/mo/img9.jpg"); }
        &.swiper-slide10 { background-image: url("../img/mo/img10.jpg"); }
        &.swiper-slide11 { background-image: url("../img/mo/img11.jpg"); }
        &.swiper-slide12 { background-image: url("../img/mo/img12.jpg"); }
        .inner { .abs; .lt(50%,50%); transform: translate(-50%,-50%);
          p { color:#fff; .black; .w(100vw); .ls(-0.07em); opacity: 0;transition: all 1s;transition-delay: 0.7s;
            s { .b-col; }
            &.tit { .fs(60); .lh(66); }
            &.t-top {.fs(25); .b-col; .lh1; .ls(0); }
            &.sub-tit { .fs(55); .bold; .lh(57); .ls(-0.05em); }
            &.txt20 { .fs(20); .regular; .lh(22); }
            &.txt25 { .fs(25); .medium; .lh(35); }
            &.txt35 { .fs(35); .bold; .lh(39); }
            &.txt30 { .fs(30); .bold; .lh(36); }
            &.txt50 { .fs(50); .bold; .lh(52); }
            &.txt70 { .fs(70); .bold; .lh(72); }
            &.source { .fs(20); .regular; .lh(24); }
          }
          img {opacity: 0;transition: all 2s; transition-delay: 1s;}
          .utv { .wh(604,300); .mt(75); .ib; opacity: 0;transition: all 1s;transition-delay: 0.7s;
            iframe { .f; }
          }
          video { opacity: 0;transition: all 1s;transition-delay: 0.7s; }
        }
        &.swiper-slide1 {
          video { .wf; }
          .inner { .mt(-50);
            .tit { .abs; .lt(50%,0); transform: translateX(-50%); }
          }
          &.active-t1 {
            .inner .tit1 { opacity: 1;}
          }
          &.active-t2 {
            .inner .tit2 { opacity: 1;}
          }
        }
        &.swiper-slide2 {
          .inner { .mt(200); transition: all 1.8s;
            p {
              &.t-top { transition-delay: 0.5s; }
              &.sub-tit {.mt(90); transition-delay: 0.9s; }
              &.txt25 { .mt(30); transition-delay: 1.3s; }
              &.source { .mt(55); transition-delay: 1.7s; }
            }
          }
        }
        &.swiper-slide3 {
          .inner { .pt(80); .-box;
            p {
              &.sub-tit { .fs(45); }
              &.txt35 { .fs(25); .mt(10); }
              &.txt37 { .fs(33); .lh(35); .abs; .lt(50%,400); transform: translateX(-50%); .ml(10); color:#000; }
              &.source { .abs; .lt(50%,605); transform: translateX(-50%); }
              &.txt25 { .mt(10); }
            }
            .img3-1 { width:auto; .h(450); .ib; .mt(10);}
          }
        }
        &.swiper-slide4 {
          .inner { .mt(50)!important;
            p {
              &.sub-tit { .fs(45); .lh(50); .mt(30); }
              &.txt25 { .mt(15); }
              &.txt30 { .mt(15);
                s { .b-col; }
              }
            }
            .exper-v { .wh(604,302); .mt(30); .mh-c;}
          }
          .dr { .fs(20); .regular; color:#fff; .abs; .lb(68,48); width:auto; .ls(-0.07em); }
        }
        &.swiper-slide5 {
          .inner { .pt(33); .-box;
            p {
              &.sub-tit { .fs(65); .mt(55); .lh(70); }
              &.txt35 { .mt(35); .medium; .lh(44); }
              &.txt20 { .mt(40); color:#aaaaaa;
                &.comm1 { .mt(70); color:#fff; }
                &.comm2, &.comm3 { .mt(35); color:#fff; }
              }
            }
          }
        }
        &.swiper-slide6 {
          .inner { .pt(150); .-box; transition: all 2s ease-in-out;
            p {
              &.t-top { transition-delay: 1s; }
              &.txt70 { .fs(67); .mt(60); transition-delay: 1.3s; }
              &.txt25 { .mt(30); transition-delay: 1.8s; }
            }
            .img6-1 { width:auto; .h(450); .ib; .mt(60); transition-delay: 1.3s; }
          }
        }
        &.swiper-slide7 {
          .inner { .f; opacity: 0;transition: all 1s;transition-delay: 0.7s;
            .innerSwiper1 {
              .swiper-slide {
                .slide-inner { .mt(-150);
                  p {
                    &.sub-tit { .mt(50); }
                    &.txt25 { .mt(50);
                      span { .bold; }
                    }
                    &.sub-tit { .mt(50); }
                  }
                  .img7 { .wh(449,252); .ib; .mt(40); }
                  &.slide-inner5 { .mt(-170); }
                }
              }
              .swiper-button { .lt(50%,50%); transform: translateY(50%); .mt(0);
                &:after { .hide; }
                &.swiper-button-disabled { opacity: 0; }
                &.swiper-button-prev { .contain('../img/mo/arrow-l.png'); .wh(27,85); .ml(-270); }
                &.swiper-button-next { .contain('../img/mo/arrow-r.png'); .wh(27,85); .ml(247); }
              }
            }
          }
        }
        &.swiper-slide8 {
          .inner { .mt(-30);
            p {
              &.sub-tit { .mt(65); }
              &.txt25 { .mt(20); }
            }
          }
          .utv { .mt(50); .wh(644,390); }
        }
        &.swiper-slide9 {
          .inner { .mt(-50);
            p {
              &.sub-tit { .mt(50); }
            }
            .box { .mt(40); opacity: 0;transition: all 1s;transition-delay: 0.7s;
              .cell { .wh(262,154); .m(9,12); background:rgba(0,0,0,0.5); .ib; .vat; .rel;
                .txt25 { .fs(25); .lh1; .regular; .abs; .lt(50%,50%); transform: translate(-50%,-50%); .wf;
                  s { .fs(18); color:#fff; .mt(30); .ib; }
                }
              }
            }
          }
        }
        &.swiper-slide10 {
          .inner { .wf; .mt(-45); opacity: 0;transition: all 1s;transition-delay: 0.7s;
            p {
              &.sub-tit { .mt(60); }
              &.txt25 { .mt(20); }
            }
            .line { .wh(580,7); .ib; .mt(40); }
            .innerSwiper2 { height: auto;
              .swiper-slide {
                .slide-inner { .rel;
                  .img10 { .wh(580,311); .ib; .mt(17); transition-delay: 0.7s; }
                  .t-box { .abs; .lt(255,68);
                    p { width: auto; .tl;
                      &.txt20 { .bold; .b-col; }
                      &.txt40 { .fs(40); .bold; .medium; }
                      &.txt22 { .fs(22);
                        s { .block; .mt(23); }
                      }
                    }
                  }
                }
              }
              .swiper-button { .lb(50%,155); transform: translateY(50%); .mt(0);
                &:after { .hide; }
                &.swiper-button-disabled { opacity: 0; }
                &.swiper-button-prev { .contain('../img/mo/arrow-l.png'); .wh(27,85); .ml(-327); }
                &.swiper-button-next { .contain('../img/mo/arrow-r.png'); .wh(27,85); .ml(300); }
              }
            }
          }
        }
        &.swiper-slide11 {
          .inner { .pt(50); .-box; opacity: 0; transition: all 1s;transition-delay: 0.7s;
            &:after { .cnt; .abs; .lt(50%,-30); .contain('../img/mo/img11-1.png'); .wh(213,283); .ml(-270); }
            p { .rel; z-index: 1;
              &.t-top { color:#1930e2; }
              &.txt92 { .fs(92); .lh(96); .bold; .mt(60); }
              &.txt30 { .medium; .lh(40); .mt(30); }
              &.txt25 { .medium; .lh(36); .mt(10); }
              s { .bold; color:#fff; }
            }
            .btn { .fs(38); color:#fff; .bold; .ib; .wh(340,84); .lh(84); .bgc(#6aea12); .mt(75); .pointer; z-index: 5;}
          }
        }
        &.swiper-slide12 {
          .inner { .mt(-80);
            p {
              &.txt36 { .fs(36); .lh(42); }
            }
            .utv { .wh(647,391); .ib; .mt(35); .pointer;
              img { .f; .block; }
            }
          }
          footer { .abs; .lb(50%,35); transform: translateX(-50%); .wf; opacity: 0; transition: all 1s;transition-delay: 0.7s;
            p { color:#8d8c8d; .regular;
              &.txt { .fs(17); .lh(23); }
              &.copy { .fs(15); .mt(21); }
            }
          }
        }
      }
    }
  }
  &[data-page='2'] .swiper .swiper-slide.swiper-slide2,
  &[data-page='3'] .swiper .swiper-slide.swiper-slide3,
  &[data-page='4'] .swiper .swiper-slide.swiper-slide4,
  &[data-page='7'] .swiper .swiper-slide.swiper-slide7,
  &[data-page='6'] .swiper .swiper-slide.swiper-slide6,
  &[data-page='9'] .swiper .swiper-slide.swiper-slide9,
  &[data-page='5'] .swiper .swiper-slide.swiper-slide5,
  &[data-page='10'] .swiper .swiper-slide.swiper-slide10,
  &[data-page='11'] .swiper .swiper-slide.swiper-slide11,
  &[data-page='12'] .swiper .swiper-slide.swiper-slide12 {
    .inner { opacity: 1; .mt(0);
      p, img, video, .utv, .img3-1, .img1-6, .box { opacity: 1;
        &.source { opacity: 0.6; }
        &.dr { opacity: 0.83; }
      }
      .img3-1 { width:auto; .h(450); }
      .img6-1 { width:auto; .h(450); }
      .slide-inner p, .slide-inner img { opacity: 1; }
    }
    footer { opacity: 1;}
  }
  &[data-page='8'] .swiper .swiper-slide.swiper-slide8 {
    .inner { .mt(-30);
      p, .utv, img { opacity: 1; }
    }
  }
  &[data-page='9'] .swiper .swiper-slide.swiper-slide9 {
    .inner { .mt(-50);
      p { opacity: 1; }
    }
  }
  &[data-page='10'] .swiper .swiper-slide.swiper-slide10 {
    .inner { .mt(-45);
      p { opacity: 1; }
      .slide-inner p, .slide-inner img { opacity: 1; }
    }
  }
  &[data-page='12'] .swiper .swiper-slide.swiper-slide12 {
    .inner { .mt(-80);
      p, .utv { opacity: 1; }
    }
  }
  &[data-page='1'] h1 { .hide; }
}
