@import 'asset';

@media (min-width: 1125px) {
  img { .wf; .block; backface-visibility: hidden; }
  button { background: none; }
  .robo { font-family: 'Roboto', sans-serif; }
  .p { .ls(-0.1em); }
  .mo { .hide; }
  .pc { .block; }

  html {

  }
}