/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
html {
  font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
}
.container {
  width: 810px;
  margin-left: auto;
  margin-right: auto;
}
.container .wrapper {
  font-size: 0px;
  text-align: center;
  letter-spacing: -1px;
}
.container .wrapper img {
  width: 100%;
  backface-visibility: hidden;
}
.container .wrapper .wrap {
  padding-top: 90px;
  padding-right: 32px;
  padding-bottom: 0px;
  padding-left: 32px;
  box-sizing: border-box;
}
.container .wrapper .wrap .top h2 {
  font-size: 48px;
  color: #484848;
  font-weight: 500;
}
.container .wrapper .wrap .top h2 + p {
  font-size: 68px;
  color: #c41230;
  font-weight: 700;
}
.container .wrapper .wrap .top img {
  margin-top: 18px;
}
.container .wrapper .wrap .top .txt {
  font-size: 38px;
  line-height: 50px;
  text-align: left;
  margin-top: 22px;
  font-weight: 500;
}
.container .wrapper .wrap section {
  box-sizing: border-box;
  text-align: left;
}
.container .wrapper .wrap section.sec1 {
  padding-top: 50px;
  padding-right: 26px;
  padding-bottom: 50px;
  padding-left: 26px;
  border: 2px solid #c7c7c7;
  margin-top: 113px;
  position: relative;
}
.container .wrapper .wrap section.sec1 h3 {
  width: 392px;
  position: absolute;
  left: 50%;
  top: 0px;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.container .wrapper .wrap section.sec1 .manager {
  padding-top: 21px;
  padding-right: 42px;
  padding-bottom: 21px;
  padding-left: 42px;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
.container .wrapper .wrap section.sec1 .manager .manager-icon {
  width: 125px;
  height: 125px;
  display: inline-block;
  margin-right: 23px;
  vertical-align: middle;
}
.container .wrapper .wrap section.sec1 .manager .profile {
  display: inline-block;
  vertical-align: middle;
  padding-top: 6px;
  padding-right: 0px;
  padding-bottom: 6px;
  padding-left: 0px;
  box-sizing: border-box;
}
.container .wrapper .wrap section.sec1 .manager .profile .inner {
  font-weight: 700;
  margin-bottom: 9px;
}
.container .wrapper .wrap section.sec1 .manager .profile .inner i {
  width: 10px;
  display: inline-block;
}
.container .wrapper .wrap section.sec1 .manager .profile .inner span {
  font-size: 16px;
  display: inline-block;
  line-height: 35px;
}
.container .wrapper .wrap section.sec1 .manager .profile .inner .name {
  font-size: 27px;
  display: inline-block;
  line-height: 35px;
}
.container .wrapper .wrap section.sec1 .manager .profile .txt {
  font-size: 27px;
  font-weight: 500;
  line-height: 35px;
}
.container .wrapper .wrap section.sec2 {
  padding-top: 90px;
  padding-right: 0px;
  padding-bottom: 52px;
  padding-left: 0px;
}
.container .wrapper .wrap section h3 {
  font-size: 64px;
  font-weight: 700;
  color: #c41230;
  letter-spacing: -2px;
  text-align: center;
}
.container .wrapper .wrap section .paragraph {
  margin-top: 30px;
}
.container .wrapper .wrap section .paragraph .tit {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 42px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}
.container .wrapper .wrap section .paragraph .txt {
  font-size: 34px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 40px;
}
.container .wrapper .wrap section .paragraph:last-of-type .txt {
  margin-bottom: 0px;
}
.container .wrapper .check-point {
  background-color: #b7c1cd;
  padding-top: 45px;
  padding-right: 0px;
  padding-bottom: 60px;
  padding-left: 0px;
  box-sizing: border-box;
}
.container .wrapper .check-point h2 {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}
.container .wrapper .check-point ul {
  margin-top: 38px;
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 60px;
  box-sizing: border-box;
}
.container .wrapper .check-point ul li {
  margin-bottom: 20px;
  height: 80px;
  text-align: left;
}
.container .wrapper .check-point ul li span {
  font-size: 38px;
  color: #585e65;
  font-weight: 700;
  width: 140px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  background-color: #fff;
  margin-right: 15px;
  border-radius: 13px;
  text-align: center;
  vertical-align: middle;
}
.container .wrapper .check-point ul li p {
  font-size: 34px;
  width: 535px;
  line-height: 40px;
  font-weight: 500;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  padding-top: 2px;
  box-sizing: border-box;
  letter-spacing: -2.5px;
}
.container .wrapper .juvu {
  background-color: #c41230;
  padding-top: 45px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
  box-sizing: border-box;
}
.container .wrapper .juvu h2 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
.container .wrapper .juvu p {
  font-size: 30px;
  line-height: 52px;
  color: #fff;
}
.container .wrapper .committee {
  padding-top: 90px;
  padding-right: 32px;
  padding-bottom: 90px;
  padding-left: 32px;
  box-sizing: border-box;
}
.container .wrapper .committee h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 23px;
}
.container .wrapper .standard {
  padding-top: 0px;
  padding-right: 32px;
  padding-bottom: 0px;
  padding-left: 32px;
  box-sizing: border-box;
  margin-bottom: 100px;
}
.container .wrapper .standard h2 {
  font-size: 60px;
  color: #c41230;
  font-weight: 700;
  margin-bottom: 22px;
}
.container .wrapper .standard table {
  font-size: 34px;
  font-weight: 500;
  border-collapse: collapse;
}
.container .wrapper .standard table th,
.container .wrapper .standard table td {
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  line-height: 48px;
}
.container .wrapper .standard table th {
  color: #c7c7c7;
  border: 2px solid #c7c7c7;
  border-left: 0;
  width: 144px;
}
.container .wrapper .standard table td {
  text-align: left;
  padding-left: 30px;
  box-sizing: border-box;
  border: 2px solid #c7c7c7;
  border-right: 0;
}
.container .wrapper .bottom-tip {
  padding-top: 0px;
  padding-right: 60px;
  padding-bottom: 120px;
  padding-left: 60px;
}
/*# sourceMappingURL=style-pc.css.map */