@media screen and (min-width: 741px) {
  /*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
  img {
    transform: translateZ(0);
    backface-visibility: hidden;
    display: block;
  }
  a {
    cursor: pointer;
  }
  input {
    outline: none;
  }
  html {
    font-family: Notokr, sans-serif;
    scroll-behavior: smooth;
  }
  .container .wrap {
    font-size: 0px;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .container .wrap:after {
    content: '';
    display: block;
    width: 740px;
    height: 100%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 1;
  }
  .container .wrap .top img {
    width: 740px;
    height: auto;
  }
  .container .wrap article .swiper {
    width: 675px;
    margin-left: auto;
    margin-right: auto;
  }
  .container .wrap article .swiper .swiper-slide {
    width: 675px;
    height: 227px;
  }
  .container .wrap article .swiper .swiper-slide img {
    width: 675px;
  }
  .container .wrap article .swiper .swiper-pagination {
    width: auto;
    position: absolute;
    right: 18px;
    bottom: 15px;
    left: auto;
    top: auto;
    display: inline-block;
  }
  .container .wrap article .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #9b9c9e;
  }
  .container .wrap article .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #1f1e21;
  }
  .container .wrap article section {
    position: relative;
  }
  .container .wrap article section .img {
    width: 740px;
  }
  .container .wrap article .sec1 {
    padding-top: 69px;
  }
  .container .wrap article .sec1 .input-box {
    position: absolute;
    left: 0px;
    top: 68px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .sec1 .input-box label {
    position: absolute;
    width: 149px;
    height: 44px;
    display: inline-block;
  }
  .container .wrap article .sec1 .input-box label:nth-child(4) input[type=radio] + i {
    margin-left: -35px;
  }
  .container .wrap article .sec1 .input-box label input[type=radio] + i {
    width: 26px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url('../img/chk.png');
    background-size: contain;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    margin-left: -26px;
  }
  .container .wrap article .sec1 .input-box label input[type=radio]:checked + i {
    background-repeat: no-repeat;
    background-image: url('../img/chked.png');
    background-size: contain;
  }
  .container .wrap article .sec1 .input-box label input {
    display: none;
  }
  .container .wrap article .sec1 .input-box label.l1 {
    left: 56px;
    top: 338px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .sec1 .input-box label.l2 {
    left: 215px;
    top: 338px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .sec1 .input-box label.l3 {
    left: 374px;
    top: 338px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .sec1 .input-box label.l4 {
    left: 533px;
    top: 338px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .sec1 .input-box label.l5 {
    left: 56px;
    top: 543px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .sec1 .input-box label.l6 {
    left: 215px;
    top: 543px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .sec1 .input-box label.l7 {
    left: 374px;
    top: 543px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .sec1 .input-box label.l8 {
    left: 533px;
    top: 543px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .sec2 .guide-box .cell {
    font-size: 0px;
    position: absolute;
    width: 143px;
    height: 55px;
    display: inline-block;
  }
  .container .wrap article .sec2 .guide-box .cell .ch,
  .container .wrap article .sec2 .guide-box .cell .ru {
    width: 143px;
    height: 24px;
    display: inline-block;
  }
  .container .wrap article .sec2 .guide-box .cell .ru {
    margin-top: 8px;
  }
  .container .wrap article .sec2 .guide-box .cell.cell1 {
    left: 98px;
    top: 838px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .sec2 .guide-box .cell.cell2 {
    left: 298px;
    top: 838px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .sec2 .guide-box .cell.cell3 {
    left: 498px;
    top: 838px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .sec2 .link-box {
    position: absolute;
    left: 413px;
    top: 968px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .sec2 .link-box a {
    font-size: 0px;
    width: 119px;
    height: 25px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .sec2 .link-box a.rule {
    left: 133px;
  }
  .container .wrap article .sec2 .ch-pop {
    font-size: 0px;
    position: absolute;
    left: 248px;
    top: 1058px;
    right: auto;
    bottom: auto;
    width: 259px;
    height: 47px;
    display: inline-block;
  }
  .container .wrap article .sec3 .parti {
    position: absolute;
    left: 243px;
    top: 364px;
    right: auto;
    bottom: auto;
    width: 257px;
    height: 47px;
    display: inline-block;
  }
  .container .wrap article .sec4 .img {
    height: 479px;
  }
  .container footer {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;
  }
  .container footer img {
    width: 100%;
    height: 100%;
  }
  .container .dir-btns {
    font-size: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    left: auto;
    bottom: auto;
    padding-top: 70px;
    z-index: 10;
  }
  .container .dir-btns img.mo {
    width: 740px;
    height: 67px;
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .container .dir-btns img.web {
    display: none;
    width: 193px;
    height: 290px;
    position: absolute;
    right: 0px;
    top: 70px;
    left: auto;
    bottom: auto;
    pointer-events: none;
  }
  .container .dir-btns .btn {
    width: 193px;
    height: 65px;
    margin-bottom: 10px;
    display: block;
    pointer-events: none;
  }
  .container .dir-btns .btn:last-child {
    margin-bottom: 0px;
  }
  .container .dir-btns.on img.web {
    display: block;
  }
  .container .dir-btns.on .btn {
    pointer-events: auto;
  }
  .popup {
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
  }
  .popup .dim {
    position: fixed;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
  }
  .popup .close {
    width: 58px;
    height: 50px;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    left: auto;
    bottom: auto;
  }
  .popup .sports {
    position: fixed;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    display: none;
  }
  .popup .sports .box {
    width: 675px;
    height: 484px;
  }
  .popup .sports .box img {
    width: 100%;
    height: 100%;
  }
  .popup .sports .box .apply {
    font-size: 0px;
    width: 165px;
    height: 39px;
    position: absolute;
    left: 259px;
    bottom: 45px;
    right: auto;
    top: auto;
  }
  .popup .sports.s8 input {
    font-size: 30px;
    color: #000;
    position: absolute;
    left: 116px;
    top: 249px;
    right: auto;
    bottom: auto;
    width: 443px;
    height: 92px;
    line-height: 92px;
    padding-left: 20px;
    box-sizing: border-box;
    border: 0;
  }
  .popup.on {
    display: block;
  }
  .popup.on.v1 .s1 {
    display: block;
  }
  .popup.on.v2 .s2 {
    display: block;
  }
  .popup.on.v3 .s3 {
    display: block;
  }
  .popup.on.v4 .s4 {
    display: block;
  }
  .popup.on.v5 .s5 {
    display: block;
  }
  .popup.on.v6 .s6 {
    display: block;
  }
  .popup.on.v7 .s7 {
    display: block;
  }
  .popup.on.v8 .s8 {
    display: block;
  }
  .popup .inner {
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .popup .inner .agree input[type=checkbox] + i {
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-image: url('../img/r-chk.png');
    background-size: contain;
    position: absolute;
    left: 203px;
    top: 159px;
    right: auto;
    bottom: auto;
    display: inline-block;
  }
  .popup .inner .agree input[type=checkbox]:checked + i {
    background-repeat: no-repeat;
    background-image: url('../img/r-chked1.png');
    background-size: contain;
  }
  .popup .inner .agree input {
    display: none;
  }
  .popup .inner .noti {
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    width: 348px;
    height: 70px;
    overflow: auto;
  }
  .popup .inner .noti .n1 {
    text-align: center;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  .popup .inner .noti .n2 p {
    margin-bottom: 10px;
  }
  .popup .inner label {
    display: block;
    position: absolute;
  }
  .popup .inner label input {
    width: 400px;
    height: 57px;
    text-align: center;
    border: 0;
    background: transparent;
  }
  .popup .inner input {
    font-size: 20px;
  }
  .popup .inner ::placeholder {
    font-size: 20px;
    color: #666;
    font-family: Notokr, sans-serif;
  }
  .popup .user {
    position: fixed;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    display: none;
  }
  .popup .user img {
    width: 675px;
    height: 714px;
  }
  .popup .user .inner {
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .popup .user .inner .noti {
    left: 170px;
    top: 210px;
    right: auto;
    bottom: auto;
  }
  .popup .user .inner .name,
  .popup .user .inner .phone {
    left: 138px;
    top: 309px;
    right: auto;
    bottom: auto;
  }
  .popup .user .inner .phone {
    top: 384px;
  }
  .popup .user .complete {
    width: 240px;
    height: 55px;
    position: absolute;
    left: 220px;
    top: 626px;
    right: auto;
    bottom: auto;
    display: inline-block;
  }
  .popup .user.on {
    display: block;
  }
  .popup .complete-wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    display: none;
  }
  .popup .complete-wrap img {
    width: 675px;
    height: 655px;
  }
  .popup .complete-wrap a {
    width: 300px;
    height: 56px;
    display: inline-block;
    position: absolute;
    left: 190px;
    top: 564px;
    right: auto;
    bottom: auto;
  }
  .popup .complete-wrap.on {
    display: block;
  }
  .popup .challenge {
    position: fixed;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    display: none;
  }
  .popup .challenge img {
    width: 675px;
    height: 563px;
  }
  .popup .challenge iframe {
    width: 614px;
    height: 355px;
    display: none;
    position: absolute;
    left: 32px;
    top: 162px;
    right: auto;
    bottom: auto;
  }
  .popup .challenge.ch1 {
    display: block;
  }
  .popup .challenge.ch1 .challenge1 {
    display: block;
  }
  .popup .challenge.ch2 {
    display: block;
  }
  .popup .challenge.ch2 .challenge2 {
    display: block;
  }
  .popup .challenge.ch3 {
    display: block;
  }
  .popup .challenge.ch3 .challenge3 {
    display: block;
  }
  .popup .challenge.run {
    display: block;
  }
  .popup .challenge.run .running {
    display: block;
  }
  .popup .challenge.cycle {
    display: block;
  }
  .popup .challenge.cycle .cycling {
    display: block;
  }
  .popup .challenge.trac {
    display: block;
  }
  .popup .challenge.trac .tracking {
    display: block;
  }
  .popup .pic-upload {
    position: fixed;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    display: none;
  }
  .popup .pic-upload img {
    width: 675px;
    height: 907px;
  }
  .popup .pic-upload .inner .agree input[type=checkbox] + i {
    left: 208px;
    top: 180px;
    right: auto;
    bottom: auto;
  }
  .popup .pic-upload .inner .noti {
    left: 170px;
    top: 225px;
    right: auto;
    bottom: auto;
  }
  .popup .pic-upload .inner label {
    display: block;
    position: absolute;
  }
  .popup .pic-upload .inner label input {
    width: 400px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    border: 0;
    background: transparent;
  }
  .popup .pic-upload .inner select {
    font-size: 20px;
    display: block;
    color: #666;
    position: absolute;
    width: 400px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    border: 0;
    background: transparent;
    outline: none;
  }
  .popup .pic-upload .inner input {
    font-size: 20px;
  }
  .popup .pic-upload .inner ::placeholder {
    font-size: 20px;
  }
  .popup .pic-upload .game {
    left: 139px;
    top: 325px;
    right: auto;
    bottom: auto;
  }
  .popup .pic-upload .name {
    left: 139px;
    top: 401px;
    right: auto;
    bottom: auto;
  }
  .popup .pic-upload .phone {
    left: 139px;
    top: 477px;
    right: auto;
    bottom: auto;
  }
  .popup .pic-upload .pic {
    left: 139px;
    top: 553px;
    right: auto;
    bottom: auto;
  }
  .popup .pic-upload .pic input::-webkit-file-upload-button {
    color: #666;
    visibility: hidden;
    margin-left: -50px;
  }
  .popup .pic-upload .pic input::-ms-browse {
    visibility: hidden;
    margin-left: -50px;
  }
  .popup .pic-upload .pic input::file-selector-button {
    visibility: hidden;
    margin-left: -50px;
  }
  .popup .pic-upload .complete {
    width: 240px;
    height: 55px;
    position: absolute;
    left: 222px;
    top: 810px;
    right: auto;
    bottom: auto;
    display: inline-block;
  }
  .popup .pic-upload.on {
    display: block;
  }
  .popup .diag-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    display: none;
  }
  .popup .diag-popup img {
    width: 675px;
    height: 713px;
  }
  .popup .diag-popup .inner .agree input[type=checkbox] + i {
    left: 210px;
    top: 159px;
    right: auto;
    bottom: auto;
  }
  .popup .diag-popup .inner .noti {
    left: 165px;
    top: 205px;
    right: auto;
    bottom: auto;
  }
  .popup .diag-popup .inner label {
    display: block;
    position: absolute;
  }
  .popup .diag-popup .inner label input {
    width: 400px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    border: 0;
    background: transparent;
  }
  .popup .diag-popup .inner input {
    font-size: 20px;
  }
  .popup .diag-popup .inner ::placeholder {
    font-size: 20px;
  }
  .popup .diag-popup .inner .name {
    left: 139px;
    top: 307px;
    right: auto;
    bottom: auto;
  }
  .popup .diag-popup .inner .phone {
    left: 139px;
    top: 383px;
    right: auto;
    bottom: auto;
  }
  .popup .diag-popup .diag-start {
    font-size: 0px;
    width: 240px;
    height: 57px;
    display: inline-block;
    position: absolute;
    left: 222px;
    top: 624px;
    right: auto;
    bottom: auto;
  }
  .popup .diag-popup.on {
    display: block;
  }
  .popup .self-diag {
    position: fixed;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    display: none;
    width: 675px;
    height: 600px;
    overflow: auto;
    padding-right: 15px;
  }
  .popup .self-diag img {
    width: 675px;
    height: 1098px;
  }
  .popup .self-diag .diag-score {
    position: absolute;
    left: 363px;
    top: 380px;
    right: auto;
    bottom: auto;
  }
  .popup .self-diag .diag-score .q {
    font-size: 0px;
    position: absolute;
  }
  .popup .self-diag .diag-score .q label {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .popup .self-diag .diag-score .q label input[type=radio] + i {
    width: 56px;
    height: 48px;
    box-sizing: border-box;
    display: inline-block;
  }
  .popup .self-diag .diag-score .q label input[type=radio]:checked + i {
    border: 2px solid #c2352c;
    background: rgba(194, 53, 44, 0.3);
    border-radius: 3px;
  }
  .popup .self-diag .diag-score .q label input {
    display: none;
  }
  .popup .self-diag .diag-score .q label:nth-child(1) {
    left: 0px;
  }
  .popup .self-diag .diag-score .q label:nth-child(2) {
    left: 61px;
  }
  .popup .self-diag .diag-score .q label:nth-child(3) {
    left: 121px;
  }
  .popup .self-diag .diag-score .q label:nth-child(4) {
    left: 181px;
  }
  .popup .self-diag .diag-score .q.q2 {
    top: 67px;
  }
  .popup .self-diag .diag-score .q.q3 {
    top: 134px;
  }
  .popup .self-diag .diag-score .q.q4 {
    top: 202px;
  }
  .popup .self-diag .diag-score .q.q5 {
    top: 268px;
  }
  .popup .self-diag .diag-score .q.q6 {
    top: 336px;
  }
  .popup .self-diag .diag-score .q.q7 {
    top: 403px;
  }
  .popup .self-diag .diag-score .q.q8 {
    top: 470px;
  }
  .popup .self-diag .diag-score .q.q9 {
    top: 537px;
  }
  .popup .self-diag .result {
    font-size: 0px;
    width: 304px;
    height: 56px;
    display: inline-block;
    position: absolute;
    left: 190px;
    top: 1005px;
    right: auto;
    bottom: auto;
  }
  .popup .self-diag.on {
    display: block;
  }
  .popup .result-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
  .popup .result-popup img {
    width: 675px;
    height: 543px;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
  }
  .popup .result-popup img.bi {
    width: 675px;
    height: 553px;
  }
  .popup .result-popup img.bi .btn {
    left: 237px;
    top: 464px;
    right: auto;
    bottom: auto;
  }
  .popup .result-popup .btn {
    font-size: 0px;
    width: 200px;
    height: 56px;
    display: inline-block;
    position: absolute;
    left: 239px;
    top: 448px;
    right: auto;
    bottom: auto;
  }
  .popup .result-popup.a .ex {
    display: block;
  }
  .popup .result-popup.b .gd {
    display: block;
  }
  .popup .result-popup.c .dg {
    display: block;
  }
  .popup .result-popup.d .bi {
    display: block;
  }
  .popup .keeperPopup {
    position: fixed;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    display: none;
  }
  .popup .keeperPopup img.web {
    display: none;
  }
  .popup .keeperPopup .web-close {
    display: none;
  }
  .popup .keeperPopup .runswiper {
    display: block;
    width: 450px;
    height: 993px;
    position: relative;
  }
  .popup .keeperPopup .runswiper .swiper-slide img {
    width: 450px;
    height: 993px;
  }
  .popup .keeperPopup .runswiper .swiper-slide.swiper-slide6 .mo-close {
    position: absolute;
    width: 332px;
    height: 60px;
    left: 59px;
    top: 880px;
    right: auto;
    bottom: auto;
    display: inline-block;
    z-index: 1;
  }
  .popup .keeperPopup .runswiper .swiper-button {
    width: 42px;
    height: 176px;
  }
  .popup .keeperPopup .runswiper .swiper-button:after {
    display: none;
  }
  .popup .keeperPopup .runswiper .swiper-button.swiper-button-perv {
    left: 0px;
  }
  .popup .keeperPopup .runswiper .swiper-button.swiper-button-next {
    right: 0px;
  }
  .popup .keeperPopup.on {
    display: block;
  }
  .container .dir-btns {
    font-size: 0px;
    position: fixed;
    right: 0px;
    top: 150px;
    left: auto;
    bottom: auto;
    padding-top: 0px;
  }
  .container .dir-btns img.mo {
    display: none;
  }
  .container .dir-btns img.web {
    display: block;
    top: 0px;
  }
  .container .dir-btns .btn {
    pointer-events: unset;
  }
  .container .popup .pic-upload {
    left: 50%;
    top: 150px;
    right: auto;
    bottom: auto;
  }
  .container .popup .self-diag {
    height: 600px;
  }
  .container .popup .keeperPopup img.web {
    width: 675px;
    height: 937px;
    display: block;
  }
  .container .popup .keeperPopup .runswiper {
    display: none;
  }
  .container .popup .keeperPopup .veb-close {
    width: 146px;
    height: 27px;
    position: absolute;
    right: 43px;
    top: 866px;
    left: auto;
    bottom: auto;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .container .dir-btns {
    left: 50%;
    right: auto;
    margin-left: 375px;
  }
}
/*# sourceMappingURL=style-pc.css.map */