.contents_prod2 img {
  width: 100%;
  backface-visibility: hidden;
}
.contents_prod2 .cont-visual {
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  letter-spacing: -0.04em;
  margin-bottom: 150px;
}
.contents_prod2 .cont-visual .tit {
  font-size: 45px;
  line-height: 1.6;
  color: #3a3a3a;
  font-weight: 900;
  margin-bottom: 43px;
  text-align: center;
}
.contents_prod2 .cont-visual .txt {
  font-size: 20px;
  color: #2e3139;
  line-height: 1.75;
  margin-top: 9px;
  padding: 0 40px 0 25px;
  box-sizing: border-box;
}
.contents_prod2 .cont-visual.v1 {
  text-align: left;
  margin-bottom: 50px;
}
.contents_prod2 .cont-visual.v1 .tit {
  font-size: 25px;
  color: #393939;
  padding: 0 40px 0 25px;
  margin: 54px 0 10px;
  font-weight: 700;
  text-align: left;
}
.contents_prod2 .cont-visual.v1 .txt {
  font-size: 20px;
  color: #2e3139;
  line-height: 1.75;
  margin-top: 9px;
  padding: 0 40px 0 25px;
  box-sizing: border-box;
}
.contents_prod2 .cont-visual.v2 {
  margin-bottom: 70px;
}
.contents_prod2 .cont-visual.v3 {
  padding-top: 40px;
  margin-bottom: 70px;
}
.contents_prod2 .cont-visual.v3 .tit {
  margin-bottom: 0;
}
.contents_prod2 .cont-visual.v3 .txt {
  margin-bottom: 64px;
}
.contents_prod2 .cont-visual.v3:after {
  content: '';
  display: block;
  width: 100vw;
  height: 86.6%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background: #f2f5f8;
  z-index: -1;
}
.contents_prod2 .cont-visual .product_list2 {
  font-size: 0;
  text-align: left;
}
.contents_prod2 .cont-visual .product_list2 li {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 25px;
}
.contents_prod2 .cont-visual .product_list2 li a .img {
  width: auto;
  height: 76px;
  border: 0;
  top: auto;
  left: auto;
}
.contents_prod2 .cont-visual .product_list2 li a .img img {
  height: 100%;
}
.contents_prod2 .cont-visual .product_list2 li a .t2 {
  font-size: 15px;
  line-height: 1.33;
  font-weight: 300;
  margin-top: 100px;
}
.contents_prod2 .cont-visual .product_list2 li:nth-child(3n) {
  margin-right: 0;
}
.contents_prod2 .cont-visual.v4 {
  max-width: 1920px;
}
.contents_prod2 .cont-visual.v4 .img {
  background: url("../img/contents_prod2/contents_v5.png") no-repeat center top;
  height: 313px;
  background-size: cover;
}
.contents_prod2 .cont-visual.v5,
.contents_prod2 .cont-visual.v6 {
  font-size: 0;
  text-align: left;
}
.contents_prod2 .cont-visual.v5 ul li,
.contents_prod2 .cont-visual.v6 ul li {
  width: 32%;
  height: 55%;
  margin-right: 2%;
  margin-bottom: 25px;
  display: inline-block;
  position: relative;
  text-align: center;
}
.contents_prod2 .cont-visual.v5 ul li img,
.contents_prod2 .cont-visual.v6 ul li img {
  display: block;
  height: 100%;
}
.contents_prod2 .cont-visual.v5 ul li .vray-list,
.contents_prod2 .cont-visual.v6 ul li .vray-list {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.contents_prod2 .cont-visual.v5 ul li .vray-list .dim,
.contents_prod2 .cont-visual.v6 ul li .vray-list .dim {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
}
.contents_prod2 .cont-visual.v5 ul li .vray-list p,
.contents_prod2 .cont-visual.v6 ul li .vray-list p {
  font-size: 20px;
  width: 100%;
  line-height: 1.6;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.04em;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.contents_prod2 .cont-visual.v5 ul li:hover .vray-list,
.contents_prod2 .cont-visual.v6 ul li:hover .vray-list {
  opacity: 1;
}
.contents_prod2 .cont-visual.v5 ul li:nth-child(3n),
.contents_prod2 .cont-visual.v6 ul li:nth-child(3n) {
  margin-right: 0;
}
.contents_prod2 .cont-visual.v7 {
  max-width: 100%;
}
.contents_prod2 .cont-visual.v7 .wrap {
  background: #f5f5f5;
}
.contents_prod2 .cont-visual.v7 .wrap .inner {
  width: 1250px;
  height: 31.76vw;
  max-height: 397px;
}
.contents_prod2 .cont-visual.v7 .wrap .inner:after {
  content: '';
  display: block;
  clear: both;
}
.contents_prod2 .cont-visual.v7 .wrap .inner .img {
  width: 50%;
  height: 100%;
  position: relative;
  float: left;
}
.contents_prod2 .cont-visual.v7 .wrap .inner .img img {
  height: 100%;
  position: relative;
  z-index: 1;
}
.contents_prod2 .cont-visual.v7 .wrap .inner .img:after {
  content: '';
  display: block;
  left: -10px;
  background: #fff;
  width: calc(100% + 20px);
  height: 100%;
  top: 0;
  position: absolute;
}
.contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap {
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
}
.contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner .tit {
  font-size: 30px;
  color: #2e3d63;
  line-height: 1.6;
  margin-bottom: 15px;
}
.contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner .txt {
  font-size: 20px;
  color: #414142;
  line-height: 1.8;
}
.contents_prod2 .cont-visual.v8 {
  margin-bottom: 0;
}
.contents_prod2 .cont-visual.v8 .sub-tit {
  font-size: 30px;
  color: #2e3d63;
  font-weight: 700;
}
.contents_prod2 .cont-visual.v8 .txt {
  font-size: 20px;
  color: #414142;
  line-height: 1.6;
  margin: 20px 0 46px;
}
.contents_prod2 .btn_center .btn.ty8 {
  background: #3b80d3 url("../img/common/btn_arrow2.png") no-repeat 100% 50%;
}
.sub0102 {
  text-align: center;
}
.sub0102 .cont-sub0102 {
  margin: 0 auto;
  position: relative;
}
.sub0102 .v1 {
  max-width: 1250px;
}
.sub0102 .v1:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -7.04vw;
  margin-left: 3.2vw;
  transform: translateX(-50%);
  max-width: 1205px;
  width: 96.4vw;
  max-height: 379px;
  height: 30.32vw;
  background: url("../img/contents_prod2/contents_sub0102-7.png");
  background-size: contain;
  z-index: -1;
}
.sub0102 .v1 .v1-top {
  position: relative;
  margin-bottom: 132px;
}
.sub0102 .v1 .v1-top p {
  font-size: 3.52vw;
  color: #fff;
  line-height: 1.2;
  font-weight: 500;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin-top: 20px;
}
.sub0102 .v1 .v1-top p span {
  color: #26c3d8;
  display: block;
}
.sub0102 .v1 ul {
  font-size: 0;
}
.sub0102 .v1 ul li {
  max-width: 220px;
  width: 17.6vw;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 146px;
}
.sub0102 .v1 ul li img {
  width: 70px;
  height: 64px;
}
.sub0102 .v1 ul li .tit {
  font-size: 21px;
  color: #057589;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 23px;
}
.sub0102 .v1 ul li .txt {
  font-size: 15px;
  color: #535353;
  line-height: 1.7;
  margin-top: 14px;
  vertical-align: top;
}
.sub0102 .v2,
.sub0102 .v3 {
  max-width: 1507px;
}
.sub0102 .v2 h3,
.sub0102 .v3 h3 {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 12.6vw;
  transform: translateX(-50%);
}
@media screen and (max-width: 1234px) {
  .contents_prod2 .cont-visual .product_list2 li a {
    padding-bottom: 50px;
    min-height: 330px;
  }
  .contents_prod2 .cont-visual .product_list2 li a .img {
    height: 60px;
  }
  .contents_prod2 .cont-visual .product_list2 li a .t2 {
    margin-top: 80px;
  }
  .contents_prod2 .cont-visual.v5 ul li .vray-list p,
  .contents_prod2 .cont-visual.v6 ul li .vray-list p {
    font-size: 15px;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .contents_prod2 .cont-visual {
    margin-bottom: 40px;
  }
  .contents_prod2 .cont-visual .tit {
    font-size: 30px;
    margin-bottom: 20px;
    color: #3a3a3a;
  }
  .contents_prod2 .cont-visual .txt {
    margin-bottom: 30px;
  }
  .contents_prod2 .cont-visual.v1 {
    margin-bottom: 20px;
  }
  .contents_prod2 .cont-visual.v1 .tit {
    font-size: 17px;
    padding: 0 20px 0 15px;
    margin-top: 30px;
  }
  .contents_prod2 .cont-visual.v1 .txt {
    font-size: 16px;
    padding: 0 20px 0 15px;
  }
  .contents_prod2 .cont-visual.v2,
  .contents_prod2 .cont-visual.v3 {
    margin-bottom: 20px;
  }
  .contents_prod2 .cont-visual .product_list2 li {
    width: 49%;
    margin-right: 2%;
  }
  .contents_prod2 .cont-visual .product_list2 li a {
    min-height: 300px;
  }
  .contents_prod2 .cont-visual .product_list2 li:nth-child(even) {
    margin-right: 0;
  }
  .contents_prod2 .cont-visual .product_list2 li:nth-child(odd) {
    margin-right: 2%;
  }
  .contents_prod2 .cont-visual.v4 .img {
    height: 210px;
  }
  .contents_prod2 .cont-visual.v5 ul li,
  .contents_prod2 .cont-visual.v6 ul li {
    width: 49%;
    margin-bottom: 15px;
  }
  .contents_prod2 .cont-visual.v5 ul li:nth-child(even),
  .contents_prod2 .cont-visual.v6 ul li:nth-child(even) {
    margin-right: 0;
  }
  .contents_prod2 .cont-visual.v5 ul li:nth-child(odd),
  .contents_prod2 .cont-visual.v6 ul li:nth-child(odd) {
    margin-right: 2%;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner .tit {
    font-size: 20px;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner .txt {
    font-size: 15px;
    margin-bottom: 0;
  }
  .contents_prod2 .cont-visual.v8 .sub-tit {
    font-size: 20px;
  }
  .contents_prod2 .cont-visual.v8 .txt {
    font-size: 15px;
    margin: 10px 0 20px;
  }
}
@media screen and (max-width: 620px) {
  .contents_prod2 .cont-visual .product_list2 li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .contents_prod2 .cont-visual .product_list2 li a {
    padding-bottom: 50px;
    min-height: auto;
  }
  .contents_prod2 .cont-visual .product_list2 li:nth-child(odd) {
    margin-right: 0;
  }
  .contents_prod2 .cont-visual.v4 .img {
    height: 180px;
  }
  .contents_prod2 .cont-visual.v5 ul li,
  .contents_prod2 .cont-visual.v6 ul li {
    width: 100%;
  }
  .contents_prod2 .cont-visual.v5 ul li:nth-child(odd),
  .contents_prod2 .cont-visual.v6 ul li:nth-child(odd) {
    margin-right: 0;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner {
    height: auto;
    max-height: none;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner:after {
    display: none;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .img,
  .contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap {
    width: 100%;
    display: block;
    float: none;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .img:after {
    display: none;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap {
    padding: 30px 0;
    box-sizing: border-box;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner {
    position: relative;
    top: auto;
    transform: none;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner .tit {
    font-size: 20px;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner .txt {
    font-size: 15px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=content_prod2.css.map */