.contents_prod1 {
  img { width: 100%; backface-visibility: hidden; }
  .cont-visual { max-width: 1250px; margin: 0 auto; margin-top: 70px;
    .tit { font-size: 25px; color:#393939; line-height: 1.6; font-weight: 700; padding: 0 40px 0 25px; box-sizing: border-box; }
    .txt { font-size: 20px; color:#2e3139; line-height: 1.75; margin-top: 9px; padding: 0 40px 0 25px; box-sizing: border-box; }

    &.v1 {
      .tit { margin-top: 54px; }
    }
    &.v3, &.v4, &.v5 { text-align: center; padding-top: 48px; box-sizing: border-box; position: relative;
      .tit { font-size:45px; color:#3a3a3a; font-weight: 900; margin-bottom: 43px; }
    }
    &.v3 {
      .tit { margin-bottom: 0; }
      .txt { margin-bottom: 64px; }
      &:after { content:''; display: block; width:100vw; height:86.6%; position: absolute; left: 50%; top:0; transform: translateX(-50%); background: #f2f5f8; z-index: -1; }
    }
    .product_list2 { font-size: 0; margin-top: 80px; text-align: left;
      li { width:32%; margin-right:2%;
        a {
          .img { width: auto; height:76px; border: 0; top:auto; left: auto; }
          .t2 { font-size: 15px; line-height:1.33; font-weight: 300; margin-top: 100px; }
        }
        &:nth-child(3n) { margin-right: 0;}
      }
    }
    &.v4 { max-width: 1920px; padding-top: 0;
      .img { background: url("../img/contents/contents_v5.png") no-repeat center top; height: 313px; }
    }
  }
}

@media screen and (max-width: 1234px) {
  .contents_prod1 {
    .cont-visual {
      &.v4 {
        .product_list2 {
          li {
            a { min-height: 330px; }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) {

}
@media screen and (max-width: 800px) {
  .contents_prod1 {
    .cont-visual { margin-bottom: 30px;
      .tit { font-size: 17px; padding: 0 20px 0 15px; }
      .txt { font-size: 16px; padding: 0 20px 0 15px; }

      &.v1 { margin-top: 30px; }
      &.v3 {
        .tit { font-size:30px; color:#3a3a3a; }
        .txt { margin-bottom: 30px; }
      }
      &.v4 { margin-top: 40px;
        .product_list2 {
          li { width:49%; margin-right:2%;
            &:nth-child(even) { margin-right: 0;}
            &:nth-child(odd) { margin-right: 2%;}
          }
        }
      }
    }
  }
}
@media screen and (max-width: 620px) {
  .contents_prod1 {
    .cont-visual {
      &.v4 {
        .product_list2 {
          li { width:100%; margin-right:0; }
        }
      }
    }
  }
}



