.location {
  display: block;
}
.contents_prod2 {
  overflow: hidden;
}
.contents_prod2 .mo {
  display: none;
}
.contents_prod2 .web {
  display: block;
}
.contents_prod2 img {
  width: 100%;
  backface-visibility: hidden;
}
.contents_prod2 .cont-visual {
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  letter-spacing: -0.04em;
  margin-bottom: 150px;
}
.contents_prod2 .cont-visual .tit {
  font-size: 45px;
  line-height: 1.6;
  color: #3a3a3a;
  font-weight: 900;
  margin-bottom: 43px;
  text-align: center;
}
.contents_prod2 .cont-visual .txt {
  font-size: 20px;
  color: #2e3139;
  line-height: 1.75;
  margin-top: 9px;
  padding: 0 40px 0 25px;
  box-sizing: border-box;
}
.contents_prod2 .cont-visual.v1 {
  text-align: left;
  margin-bottom: 50px;
}
.contents_prod2 .cont-visual.v1 .tit {
  font-size: 25px;
  color: #393939;
  padding: 0 40px 0 25px;
  margin: 54px 0 10px;
  font-weight: 700;
  text-align: left;
}
.contents_prod2 .cont-visual.v1 .txt {
  font-size: 20px;
  color: #2e3139;
  line-height: 1.75;
  margin-top: 9px;
  padding: 0 40px 0 25px;
  box-sizing: border-box;
}
.contents_prod2 .cont-visual.v2 {
  margin-bottom: 70px;
}
.contents_prod2 .cont-visual.v3 {
  padding-top: 40px;
  margin-bottom: 70px;
}
.contents_prod2 .cont-visual.v3 .tit {
  margin-bottom: 0;
}
.contents_prod2 .cont-visual.v3 .txt {
  margin-bottom: 64px;
}
.contents_prod2 .cont-visual.v3:after {
  content: '';
  display: block;
  width: 100vw;
  height: 86.6%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background: #f2f5f8;
  z-index: -1;
}
.contents_prod2 .cont-visual .product_list2 {
  font-size: 0;
  text-align: left;
}
.contents_prod2 .cont-visual .product_list2 li {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 25px;
}
.contents_prod2 .cont-visual .product_list2 li a .img {
  width: auto;
  height: 76px;
  border: 0;
  top: auto;
  left: auto;
}
.contents_prod2 .cont-visual .product_list2 li a .img img {
  height: 100%;
}
.contents_prod2 .cont-visual .product_list2 li a .t2 {
  font-size: 15px;
  line-height: 1.33;
  font-weight: 300;
  margin-top: 100px;
}
.contents_prod2 .cont-visual .product_list2 li:nth-child(3n) {
  margin-right: 0;
}
.contents_prod2 .cont-visual.v4 {
  max-width: 1920px;
  position: relative;
}
.contents_prod2 .cont-visual.v4 img {
  width: 1920px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.contents_prod2 .cont-visual.v4 .txt-box {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 185px;
  transform: translateX(-50%);
}
.contents_prod2 .cont-visual.v4 .txt-box p {
  color: #fff;
}
.contents_prod2 .cont-visual.v4 .txt-box p.tit {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 18px;
}
.contents_prod2 .cont-visual.v4 .txt-box p.txt {
  font-size: 20px;
}
.contents_prod2 .cont-visual.v5,
.contents_prod2 .cont-visual.v6 {
  font-size: 0;
  text-align: left;
}
.contents_prod2 .cont-visual.v5 ul li,
.contents_prod2 .cont-visual.v6 ul li {
  width: 32%;
  height: 55%;
  margin-right: 2%;
  margin-bottom: 25px;
  display: inline-block;
  position: relative;
  text-align: center;
}
.contents_prod2 .cont-visual.v5 ul li img,
.contents_prod2 .cont-visual.v6 ul li img {
  display: block;
  height: 100%;
}
.contents_prod2 .cont-visual.v5 ul li .vray-list,
.contents_prod2 .cont-visual.v6 ul li .vray-list {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.contents_prod2 .cont-visual.v5 ul li .vray-list .dim,
.contents_prod2 .cont-visual.v6 ul li .vray-list .dim {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
}
.contents_prod2 .cont-visual.v5 ul li .vray-list p,
.contents_prod2 .cont-visual.v6 ul li .vray-list p {
  font-size: 20px;
  width: 100%;
  line-height: 1.6;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.04em;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.contents_prod2 .cont-visual.v5 ul li:hover .vray-list,
.contents_prod2 .cont-visual.v6 ul li:hover .vray-list {
  opacity: 1;
}
.contents_prod2 .cont-visual.v5 ul li:nth-child(3n),
.contents_prod2 .cont-visual.v6 ul li:nth-child(3n) {
  margin-right: 0;
}
.contents_prod2 .cont-visual.v7 {
  max-width: 100%;
}
.contents_prod2 .cont-visual.v7 .wrap {
  background: #f5f5f5;
}
.contents_prod2 .cont-visual.v7 .wrap .inner {
  width: 1250px;
  height: 31.76vw;
  max-height: 397px;
}
.contents_prod2 .cont-visual.v7 .wrap .inner:after {
  content: '';
  display: block;
  clear: both;
}
.contents_prod2 .cont-visual.v7 .wrap .inner .img {
  width: 50%;
  height: 100%;
  position: relative;
  float: left;
}
.contents_prod2 .cont-visual.v7 .wrap .inner .img img {
  height: 100%;
  position: relative;
  z-index: 1;
}
.contents_prod2 .cont-visual.v7 .wrap .inner .img:after {
  content: '';
  display: block;
  left: -10px;
  background: #fff;
  width: calc(100% + 20px);
  height: 100%;
  top: 0;
  position: absolute;
}
.contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap {
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
}
.contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner .tit {
  font-size: 30px;
  color: #2e3d63;
  line-height: 1.6;
  margin-bottom: 15px;
}
.contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner .txt {
  font-size: 20px;
  color: #414142;
  line-height: 1.8;
}
.contents_prod2 .cont-visual.v8 {
  margin-bottom: 0;
}
.contents_prod2 .cont-visual.v8 .sub-tit {
  font-size: 30px;
  color: #2e3d63;
  font-weight: 700;
}
.contents_prod2 .cont-visual.v8 .txt {
  font-size: 20px;
  color: #414142;
  line-height: 1.6;
  margin: 20px 0 46px;
}
.contents_prod2 .cont-visual.v1 img,
.contents_prod2 .cont-visual.v8 img {
  width: 1250px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.contents_prod2 .btn_center .btn.ty8 {
  background: #3b80d3 url("../img/common/btn_arrow2.png") no-repeat 100% 50%;
}
.sub0102 {
  text-align: center;
  overflow: hidden;
}
.sub0102 .cont-sub0102 {
  margin: 0 auto;
  position: relative;
}
.sub0102 .v1 {
  max-width: 1250px;
}
.sub0102 .v1:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -7.04vw;
  margin-left: 3.2vw;
  transform: translateX(-50%);
  max-width: 1205px;
  width: 96.4vw;
  max-height: 379px;
  height: 30.32vw;
  background: url("../img/contents_prod2/contents_sub0102-7.png");
  background-size: contain;
  z-index: -1;
}
.sub0102 .v1 .v1-top {
  position: relative;
  margin-bottom: 132px;
}
.sub0102 .v1 .v1-top p {
  font-size: 44px;
  color: #fff;
  line-height: 1.2;
  font-weight: 500;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin-top: 20px;
}
.sub0102 .v1 .v1-top p span {
  color: #26c3d8;
  display: block;
}
.sub0102 .v1 ul {
  font-size: 0;
}
.sub0102 .v1 ul li {
  max-width: 220px;
  width: 17.6vw;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 146px;
}
.sub0102 .v1 ul li img {
  width: 70px;
  height: 64px;
}
.sub0102 .v1 ul li .tit {
  font-size: 21px;
  color: #057589;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 23px;
}
.sub0102 .v1 ul li .txt {
  font-size: 15px;
  color: #535353;
  line-height: 1.7;
  margin-top: 14px;
  vertical-align: top;
}
.sub0102 .v2,
.sub0102 .v3 {
  width: 1507px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}
.sub0102 .v2 h3,
.sub0102 .v3 h3 {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 190px;
  transform: translateX(-50%);
}
.sub0102 .v2 .sub0102-ul,
.sub0102 .v3 .sub0102-ul {
  width: 100%;
  position: absolute;
  left: 0;
  top: 309px;
  font-size: 0;
}
.sub0102 .v2 .sub0102-ul li,
.sub0102 .v3 .sub0102-ul li {
  width: 388px;
  height: 297px;
  display: inline-block;
  vertical-align: top;
  margin-right: 43px;
  text-align: left;
  position: relative;
}
.sub0102 .v2 .sub0102-ul li:last-child,
.sub0102 .v3 .sub0102-ul li:last-child {
  margin-right: 0;
}
.sub0102 .v2 .sub0102-ul li img,
.sub0102 .v3 .sub0102-ul li img {
  display: block;
  width: 100%;
  height: 100%;
}
.sub0102 .v2 .sub0102-ul li .txt-box,
.sub0102 .v3 .sub0102-ul li .txt-box {
  position: absolute;
  left: 30px;
  top: 127px;
}
.sub0102 .v2 .sub0102-ul li .txt-box .tit,
.sub0102 .v3 .sub0102-ul li .txt-box .tit {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
}
.sub0102 .v2 .sub0102-ul li .txt-box .txt,
.sub0102 .v3 .sub0102-ul li .txt-box .txt {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 20px;
}
.sub0105 {
  text-align: center;
}
.sub0105 .cont-sub0105 {
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  padding: 90px 0;
  box-sizing: border-box;
}
.sub0105 .cont-sub0105 h3 {
  font-size: 36px;
  line-height: 1.4;
  font-weight: 700;
  display: inline-block;
  color: #000;
  margin-bottom: 40px;
}
.sub0105 .cont-sub0105 h3 span {
  font-weight: 300;
  color: #000;
}
.sub0105 .v1 {
  margin-bottom: 53px;
  padding: 0;
}
.sub0105 .v1 .img {
  border: 4px solid #1f7ce5;
}
.sub0105 .v1 .txt-box {
  position: absolute;
  left: 73px;
  top: 145px;
  text-align: left;
}
.sub0105 .v1 .txt-box .tit {
  font-size: 45px;
  line-height: 1.2;
  color: #211f1f;
}
.sub0105 .v1 .txt-box .tit span {
  font-weight: 700;
  color: #211f1f;
}
.sub0105 .v1 .txt-box .txt {
  font-size: 20px;
  line-height: 1.5;
  color: #211f1f;
  margin-top: 25px;
}
.sub0105 .v2,
.sub0105 .v4 {
  background: #f9f9f9;
  max-width: none;
}
.sub0105 .v2 .inner,
.sub0105 .v4 .inner {
  max-width: 1250px;
}
.sub0105 .v3 {
  font-size: 0;
}
.sub0105 .v3 .v3-box:last-child {
  margin-right: 0;
}
.sub0105 .v3 .v3-box .box-inner {
  width: 23.2vw;
  max-width: 290px;
  margin-right: 30px;
  display: inline-block;
  vertical-align: top;
  background: #f4f3f3;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}
.sub0105 .v3 .v3-box .box-inner:last-child {
  margin-right: 0;
}
.sub0105 .v3 .v3-box .box-inner img {
  width: 100%;
}
.sub0105 .v3 .v3-box .box-inner .txt-box {
  width: 100%;
  background: #fff;
  padding: 30px 0;
  box-sizing: border-box;
  min-height: 228px;
}
.sub0105 .v3 .v3-box .box-inner .txt-box p {
  color: #000;
  line-height: 1.3;
}
.sub0105 .v3 .v3-box .box-inner .txt-box .tit {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.sub0105 .v3 .v3-box .box-inner .txt-box .sub-tit {
  font-size: 18px;
  color: #3769bc;
  font-weight: 500;
  margin-bottom: 16px;
}
.sub0105 .v3 .v3-box .box-inner .txt-box .txt {
  font-size: 16px;
  color: #434343;
  font-weight: 500;
  line-height: 1.88;
}
.sub0105 .v4 {
  font-size: 0;
}
.sub0105 .v4 .v4-inner ul .tab {
  width: 25%;
  height: 140px;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-right: 0;
  box-sizing: border-box;
}
.sub0105 .v4 .v4-inner ul .tab:last-child {
  border-right: 1px solid #d8d8d8;
}
.sub0105 .v4 .v4-inner ul .tab a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}
.sub0105 .v4 .v4-inner ul .tab a p {
  font-size: 18px;
  color: #2e3139;
  font-weight: 500;
  margin-top: 89px;
  pointer-events: none;
}
.sub0105 .v4 .v4-inner ul .tab.tab1 {
  background: #fff url("../img/contents_prod2/contents_sub0105-tab1.png") no-repeat center top;
  background-size: contain;
}
.sub0105 .v4 .v4-inner ul .tab.tab2 {
  background: #fff url("../img/contents_prod2/contents_sub0105-tab2.png") no-repeat center top;
  background-size: contain;
}
.sub0105 .v4 .v4-inner ul .tab.tab3 {
  background: #fff url("../img/contents_prod2/contents_sub0105-tab3.png") no-repeat center top;
  background-size: contain;
}
.sub0105 .v4 .v4-inner ul .tab.tab4 {
  background: #fff url("../img/contents_prod2/contents_sub0105-tab4.png") no-repeat center top;
  background-size: contain;
}
.sub0105 .v4 .v4-inner .view {
  display: none;
  background: #fff;
  padding: 60px 0;
  box-sizing: border-box;
}
.sub0105 .v4 .v4-inner .view .view-cont {
  font-size: 0;
  padding: 0 130px;
  box-sizing: border-box;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell {
  height: 280px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box p {
  color: #000;
  font-weight: 700;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box p.num {
  font-size: 40px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box p.tit {
  font-size: 24px;
  margin-top: 5px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box p.txt {
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img1 {
  width: 329px;
  height: 201px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img2 {
  width: 366px;
  height: 264px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img3 {
  width: 434px;
  height: 267px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img4 {
  width: 364px;
  height: 262px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img5 {
  width: 409px;
  height: 265px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img6 {
  width: 404px;
  height: 269px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img7 {
  width: 308px;
  height: 264px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img8 {
  width: 417px;
  height: 257px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img9 {
  width: 409px;
  height: 261px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img10 {
  width: 374px;
  height: 260px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img11 {
  width: 390px;
  height: 253px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img12 {
  width: 416px;
  height: 269px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell.cell1 {
  width: 60%;
  text-align: left;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell.cell2 {
  width: 40%;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell.cell2 img {
  margin-left: 20px;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell.cell3 {
  width: 60%;
  text-align: right;
}
.sub0105 .v4 .v4-inner .view .view-cont .cell.cell3 .cell-box {
  left: auto;
  right: 0;
}
.sub0105 .v4 .v4-inner[data-view="1"] .tab1 a p {
  color: #fff;
}
.sub0105 .v4 .v4-inner[data-view="1"] .tab1.tab1 {
  background: #305593 url("../img/contents_prod2/contents_sub0105-tab1-active.png") no-repeat center top;
  background-size: contain;
}
.sub0105 .v4 .v4-inner[data-view="1"] .view1 {
  display: block;
}
.sub0105 .v4 .v4-inner[data-view="2"] .tab2 a p {
  color: #fff;
}
.sub0105 .v4 .v4-inner[data-view="2"] .tab2.tab2 {
  background: #305593 url("../img/contents_prod2/contents_sub0105-tab2-active.png") no-repeat center top;
  background-size: contain;
}
.sub0105 .v4 .v4-inner[data-view="2"] .view2 {
  display: block;
}
.sub0105 .v4 .v4-inner[data-view="3"] .tab3 a p {
  color: #fff;
}
.sub0105 .v4 .v4-inner[data-view="3"] .tab3.tab3 {
  background: #305593 url("../img/contents_prod2/contents_sub0105-tab3-active.png") no-repeat center top;
  background-size: contain;
}
.sub0105 .v4 .v4-inner[data-view="3"] .view3 {
  display: block;
}
.sub0105 .v4 .v4-inner[data-view="4"] .tab4 a p {
  color: #fff;
}
.sub0105 .v4 .v4-inner[data-view="4"] .tab4.tab4 {
  background: #305593 url("../img/contents_prod2/contents_sub0105-tab4-active.png") no-repeat center top;
  background-size: contain;
}
.sub0105 .v4 .v4-inner[data-view="4"] .view4 {
  display: block;
}
.sub01052 {
  overflow: hidden;
}
.sub01052 .cont-sub01052 {
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
  padding: 85px 0;
  box-sizing: border-box;
}
.sub01052 .cont-sub01052 h3 {
  font-size: 40px;
  color: #3b3b44;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 25px;
}
.sub01052 .cont-sub01052 h3 span {
  color: #6963ff;
  font-weight: 700;
}
.sub01052 .cont-sub01052 .v-sub-tit {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.4;
  color: #000;
  margin-bottom: 35px;
}
.sub01052 .v1 {
  padding-top: 0;
}
.sub01052 .v1 .img {
  border: 4px solid #1f7ce5;
}
.sub01052 .v2 {
  position: relative;
}
.sub01052 .v2 .v-tit {
  font-size: 32px;
  line-height: 1.56;
  font-weight: 300;
  color: #000;
}
.sub01052 .v2 .v-tit span {
  font-weight: 700;
  color: #000;
}
.sub01052 .v2 .ico1,
.sub01052 .v2 .ico2,
.sub01052 .v2 .ico3 {
  position: absolute;
  left: 50%;
  margin-left: -14px;
}
.sub01052 .v2 .ico1 {
  width: 84px;
  height: 74px;
  top: 0;
}
.sub01052 .v2 .ico2 {
  width: 266px;
  height: 215px;
  top: 188px;
  margin-left: -664px;
}
.sub01052 .v2 .ico3 {
  width: 195px;
  height: 300px;
  top: 118px;
  margin-left: 445px;
}
.sub01052 .v2 .img-box {
  margin-top: 80px;
}
.sub01052 .v2 .img-box ul {
  font-size: 0;
  display: block;
}
.sub01052 .v2 .img-box ul li {
  display: inline-block;
  margin: 0 4px 20px;
}
.sub01052 .v2 .img-box ul li img {
  width: 334px;
  height: 186px;
  display: block;
  position: relative;
}
.sub01052 .v2 .img-box ul li a {
  font-size: 22px;
  font-weight: 700;
  color: #2f3033;
  padding-left: 35px;
  box-sizing: border-box;
  width: 334px;
  height: 54px;
  padding-top: 10px;
  display: inline-block;
  margin: 30px 4px 0;
  position: relative;
  border: 2px solid #4e5051;
  border-radius: 4px;
  text-align: left;
  background: #fff;
}
.sub01052 .v2 .img-box ul li a:hover {
  background: #6963ff;
  border: 2px solid #6963ff;
  color: #fff;
}
.sub01052 .v2 .img-box ul li a:hover:after {
  content: '';
  display: inline-block;
  width: 11px;
  height: 21px;
  position: absolute;
  right: 30px;
  top: 15px;
  background: url("../img/contents_prod2/contents_ico7.png");
}
.sub01052 .v2 .img-box ul li a:after {
  content: '';
  display: inline-block;
  width: 11px;
  height: 21px;
  position: absolute;
  right: 30px;
  top: 15px;
  background: url("../img/contents_prod2/contents_ico7-1.png");
}
.sub01052 .v3,
.sub01052 .v8 {
  max-width: none;
  font-size: 0;
}
.sub01052 .v3 img,
.sub01052 .v8 img,
.sub01052 .v3 .txt-box,
.sub01052 .v8 .txt-box {
  display: inline-block;
  vertical-align: top;
}
.sub01052 .v3 .txt-box p,
.sub01052 .v8 .txt-box p {
  color: #000;
  text-align: left;
  line-height: 1.56;
}
.sub01052 .v3 .txt-box p.tit,
.sub01052 .v8 .txt-box p.tit {
  font-size: 32px;
  margin-top: 8px;
  font-weight: 700;
}
.sub01052 .v3 .txt-box p.txt,
.sub01052 .v8 .txt-box p.txt {
  font-size: 18px;
  color: #2e3139;
  margin-top: 33px;
}
.sub01052 .v3 .txt-box .btns,
.sub01052 .v8 .txt-box .btns {
  margin-top: 40px;
  text-align: left;
}
.sub01052 .v3 .txt-box .btns a,
.sub01052 .v8 .txt-box .btns a {
  font-size: 16px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
}
.sub01052 .v3 .txt-box .btns a:nth-child(1),
.sub01052 .v8 .txt-box .btns a:nth-child(1) {
  width: 236px;
  background: #6963ff;
  margin-right: 10px;
}
.sub01052 .v3 .txt-box .btns a:nth-child(2),
.sub01052 .v8 .txt-box .btns a:nth-child(2) {
  width: 166px;
  background: #393939;
}
.sub01052 .v3 img {
  width: 683px;
  height: 386px;
}
.sub01052 .v3 .txt-box {
  margin-left: 67px;
}
.sub01052 .box {
  font-size: 0;
}
.sub01052 .box .box-inner {
  width: 544px;
  padding: 50px 0 40px;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 26px 40px;
}
.sub01052 .box .box-inner .tit {
  font-size: 30px;
  color: #6963ff;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 40px;
}
.sub01052 .box .box-inner .sub-tit {
  font-size: 21px;
  color: #2a292c;
  line-height: 1.3;
}
.sub01052 .box .box-inner img {
  width: 438px;
  height: 238px;
}
.sub01052 .box .box-inner .txt {
  font-size: 20px;
  line-height: 1.6;
  margin: 30px 0;
}
.sub01052 .box .box-inner .btns a {
  font-size: 16px;
  color: #fff;
  width: 196px;
  height: 52px;
  line-height: 52px;
  background: #6963ff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  border-radius: 4px;
}
.sub01052 .box .box-inner .btns a:last-child {
  background: #393939;
}
.sub01052 .v5,
.sub01052 .v7 {
  max-width: none;
  background: #f6f6f6;
  padding: 50px 0;
}
.sub01052 .v5 ul,
.sub01052 .v7 ul {
  max-width: 1250px;
  margin: 0 auto;
  display: block;
  font-size: 0;
}
.sub01052 .v5 ul li,
.sub01052 .v7 ul li {
  margin: 50px 0;
  display: inline-block;
  vertical-align: middle;
}
.sub01052 .v5 ul li p,
.sub01052 .v7 ul li p {
  line-height: 1.3;
  color: #000;
}
.sub01052 .v5 ul li .tit,
.sub01052 .v7 ul li .tit {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 6px;
}
.sub01052 .v5 ul li .txt,
.sub01052 .v7 ul li .txt {
  font-size: 19px;
  font-weight: 300;
}
.sub01052 .v5 ul li img {
  width: 250px;
  height: 72px;
  margin-left: 15px;
}
.sub01052 .v6 img {
  width: 337px;
  height: 117px;
  margin-bottom: 40px;
}
.sub01052 .v6 .box .box-inner .tit {
  margin-bottom: 5px;
}
.sub01052 .v6 .box .box-inner .sub-tit {
  margin-bottom: 35px;
}
.sub01052 .v7 ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sub01052 .v7 ul li img {
  width: auto;
  height: 72px;
}
.sub01052 .v7 ul li .tit sup {
  font-size: 10px;
  color: #000;
  font-weight: 700;
}
.sub01052 .v8 img,
.sub01052 .v8 .txt-box {
  vertical-align: middle;
}
.sub01052 .v8 img {
  width: 515px;
  height: 535px;
}
.sub01052 .v8 .txt-box {
  margin-left: 84px;
}
.sub01052 .v8 .txt-box p.tit {
  font-weight: 300;
}
.sub01052 .v8 .txt-box p.txt {
  font-size: 20px;
  margin-top: 23px;
}
.sub01052 .v8 .txt-box p.sub-txt {
  font-size: 21px;
  color: #6963ff;
  font-weight: 700;
  margin-top: 35px;
}
.sub01052 .v8 .txt-box .btns a:nth-child(1),
.sub01052 .v8 .txt-box .btns a:nth-child(2) {
  width: 142px;
}
.sub01052 .v9 {
  max-width: none;
  width: 1920px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  padding: 0;
}
.sub01052 .v9 img {
  height: 567px;
  display: inline-block;
}
.sub01052 .v9 img:nth-child(1) {
  width: 999px;
}
.sub01052 .v9 img:nth-child(2) {
  width: 921px;
}
@media screen and (max-width: 1234px) {
  .contents_prod2 .cont-visual .product_list2 li a {
    padding-bottom: 50px;
    min-height: 330px;
  }
  .contents_prod2 .cont-visual .product_list2 li a .img {
    height: 60px;
  }
  .contents_prod2 .cont-visual .product_list2 li a .t2 {
    margin-top: 80px;
  }
  .contents_prod2 .cont-visual.v5 ul li .vray-list p,
  .contents_prod2 .cont-visual.v6 ul li .vray-list p {
    font-size: 15px;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner {
    width: 100%;
  }
  .sub0102 .v1 .v1-top {
    margin-bottom: 10.69vw;
  }
  .sub0102 .v1 .v1-top p {
    font-size: 3.56vw;
    margin-top: 1.6vw;
  }
  .sub0102 .v1 ul li {
    width: 17.6vw;
    margin-bottom: 11.8vw;
  }
  .sub0102 .v1 ul li img {
    width: 5.67vw;
    height: 5.18vw;
  }
  .sub0102 .v1 ul li .tit {
    font-size: 1.7vw;
    margin-top: 1.86vw;
  }
  .sub0102 .v1 ul li .txt {
    font-size: 1.2vw;
    margin-top: 1.1vw;
  }
  .sub0102 .v2,
  .sub0102 .v3 {
    width: 100vw;
  }
  .sub0102 .v2 h3,
  .sub0102 .v3 h3 {
    font-size: 2.39vw;
    top: 12.6vw;
  }
  .sub0102 .v2 .sub0102-ul,
  .sub0102 .v3 .sub0102-ul {
    top: 20.05vw;
  }
  .sub0102 .v2 .sub0102-ul li,
  .sub0102 .v3 .sub0102-ul li {
    width: 25.74vw;
    height: 19.7vw;
    margin-right: 2.85vw;
  }
  .sub0102 .v2 .sub0102-ul li .txt-box,
  .sub0102 .v3 .sub0102-ul li .txt-box {
    left: 2vw;
    top: 6vw;
  }
  .sub0102 .v2 .sub0102-ul li .txt-box .tit,
  .sub0102 .v3 .sub0102-ul li .txt-box .tit {
    font-size: 2vw;
  }
  .sub0102 .v2 .sub0102-ul li .txt-box .txt,
  .sub0102 .v3 .sub0102-ul li .txt-box .txt {
    font-size: 1.5vw;
    margin-top: 1.6vw;
    padding-right: 2vw;
  }
  .sub0105 .cont-sub0105 {
    padding: 7.3vw 0;
  }
  .sub0105 .cont-sub0105 h3 {
    font-size: 2.9vw;
    margin-bottom: 3.2vw;
  }
  .sub0105 .v1 {
    margin-bottom: 4.3vw;
    padding: 0;
  }
  .sub0105 .v1 .img {
    border: 4px solid #1f7ce5;
  }
  .sub0105 .v1 .txt-box {
    left: 5.9vw;
    top: 11.8vw;
  }
  .sub0105 .v1 .txt-box .tit {
    font-size: 3.6vw;
  }
  .sub0105 .v1 .txt-box .txt {
    font-size: 1.6vw;
    margin-top: 2vw;
  }
  .sub0105 .v3 .v3-box {
    font-size: 0;
  }
  .sub0105 .v3 .v3-box .box-inner {
    margin-right: 1.5vw;
  }
  .sub0105 .v3 .v3-box .box-inner .txt-box {
    padding: 2.4vw 0;
    min-height: 19vw;
  }
  .sub0105 .v3 .v3-box .box-inner .txt-box .tit {
    font-size: 1.94vw;
    margin-bottom: 0.8vw;
  }
  .sub0105 .v3 .v3-box .box-inner .txt-box .sub-tit {
    font-size: 1.46vw;
    margin-bottom: 1.2vw;
  }
  .sub0105 .v3 .v3-box .box-inner .txt-box .txt {
    font-size: 1.3vw;
  }
  .sub0105 .v4 {
    font-size: 0;
    padding-bottom: 0;
  }
  .sub0105 .v4 .v4-inner ul {
    font-size: 0;
  }
  .sub0105 .v4 .v4-inner ul .tab {
    width: 25%;
    height: 11.3vw;
    background-size: contain;
  }
  .sub0105 .v4 .v4-inner ul .tab a p {
    font-size: 1.46vw;
    margin-top: 7.2vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont {
    padding: 0 10.5vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell {
    height: 22.7vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box p.num {
    font-size: 3.2vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box p.tit {
    font-size: 1.9vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box p.txt {
    font-size: 1.5vw;
    margin-top: 1.2vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img1 {
    width: 26.7vw;
    height: 16.9vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img2 {
    width: 29.7vw;
    height: 21.4vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img3 {
    width: 35.2vw;
    height: 21.6vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img4 {
    width: 29.5vw;
    height: 21.2vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img5 {
    width: 33.1vw;
    height: 21.5vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img6 {
    width: 32.7vw;
    height: 21.8vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img7 {
    width: 25vw;
    height: 21.4vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img8 {
    width: 33.8vw;
    height: 20.8vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img9 {
    width: 33.1vw;
    height: 21.2vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img10 {
    width: 30.3vw;
    height: 21.1vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img11 {
    width: 31.6vw;
    height: 20.5vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell img.c-img12 {
    width: 33.7vw;
    height: 21.8vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell.cell2 img {
    margin-left: 1.6vw;
  }
  .sub01052 .cont-sub01052 {
    padding: 60px 0;
    box-sizing: border-box;
  }
  .sub01052 .cont-sub01052 h3 {
    font-size: 33px;
    margin-bottom: 20px;
  }
  .sub01052 .cont-sub01052 .v-sub-tit {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .sub01052 .v1 {
    padding-top: 0;
  }
  .sub01052 .v2 {
    padding-top: 85px;
  }
  .sub01052 .v2 .v-tit {
    font-size: 28px;
  }
  .sub01052 .v2 .ico1,
  .sub01052 .v2 .ico2,
  .sub01052 .v2 .ico3 {
    position: absolute;
    left: 50%;
    margin-left: -14px;
  }
  .sub01052 .v2 .ico2 {
    left: -40px;
    margin-left: 0;
  }
  .sub01052 .v2 .ico3 {
    left: auto;
    right: -50px;
    margin-left: 0;
  }
  .sub01052 .v2 .img-box ul li img {
    width: 27vw;
    height: 15vw;
  }
  .sub01052 .v2 .img-box ul li a {
    font-size: 18px;
    padding-left: 20px;
    width: 27vw;
    height: 4.4vw;
    line-height: 4.4vw;
    padding-top: 0;
    margin: 20px 4px 0;
  }
  .sub01052 .v2 .img-box ul li a:hover:after {
    width: 0.89vw;
    height: 1.7vw;
    right: 20px;
    top: 1.2vw;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sub01052 .v2 .img-box ul li a:after {
    width: 0.89vw;
    height: 1.7vw;
    right: 30px;
    top: 1.2vw;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sub01052 .v3 img,
  .sub01052 .v8 img {
    width: 55.3vw;
    height: 31.3vw;
  }
  .sub01052 .v3 .txt-box,
  .sub01052 .v8 .txt-box {
    margin-left: 2vw;
    width: 40vw;
  }
  .sub01052 .v3 .txt-box p.tit,
  .sub01052 .v8 .txt-box p.tit {
    font-size: 2.6vw;
    margin-top: 0;
  }
  .sub01052 .v3 .txt-box p.txt,
  .sub01052 .v8 .txt-box p.txt {
    font-size: 1.4vw;
    margin-top: 1.6vw;
  }
  .sub01052 .v3 .txt-box .btns,
  .sub01052 .v8 .txt-box .btns {
    margin-top: 2.4vw;
  }
  .sub01052 .v3 .txt-box .btns a,
  .sub01052 .v8 .txt-box .btns a {
    font-size: 1.3vw;
    height: 4.2vw;
    line-height: 4.2vw;
  }
  .sub01052 .v3 .txt-box .btns a:nth-child(1),
  .sub01052 .v8 .txt-box .btns a:nth-child(1) {
    width: 19vw;
  }
  .sub01052 .v3 .txt-box .btns a:nth-child(2),
  .sub01052 .v8 .txt-box .btns a:nth-child(2) {
    width: 13.5vw;
  }
  .sub01052 .box .box-inner {
    width: 44vw;
    padding: 4vw 0 3.2vw;
    margin: 0 2vw 3.2vw;
  }
  .sub01052 .box .box-inner .tit {
    font-size: 2.4vw;
    margin-bottom: 3.2vw;
  }
  .sub01052 .box .box-inner .sub-tit {
    font-size: 1.7vw;
  }
  .sub01052 .box .box-inner img {
    width: 35.5vw;
    height: 19.3vw;
  }
  .sub01052 .box .box-inner .txt {
    font-size: 1.6vw;
    margin: 2.4vw 0;
  }
  .sub01052 .box .box-inner .btns a {
    font-size: 1.3vw;
    width: 15.9vw;
    height: 4.2vw;
    line-height: 4.2vw;
    margin: 0 0.3vw;
  }
  .sub01052 .v5,
  .sub01052 .v7 {
    padding: 4vw 0;
  }
  .sub01052 .v5 ul li,
  .sub01052 .v7 ul li {
    margin: 3vw;
  }
  .sub01052 .v6 img {
    width: 27vw;
    height: 9.5vw;
    margin-bottom: 3.2vw;
  }
  .sub01052 .v6 .box .box-inner .sub-tit {
    margin-bottom: 2.8vw;
  }
  .sub01052 .v7 ul {
    justify-content: center;
  }
  .sub01052 .v7 ul li img {
    height: 5.8vw;
  }
  .sub01052 .v8 img {
    width: 41.7vw;
    height: 43.4vw;
  }
  .sub01052 .v8 .txt-box {
    margin-left: 6.8vw;
  }
  .sub01052 .v8 .txt-box p.txt {
    font-size: 1.6vw;
    margin-top: 1.9vw;
  }
  .sub01052 .v8 .txt-box p.sub-txt {
    font-size: 1.7vw;
    margin-top: 2.8vw;
  }
  .sub01052 .v8 .txt-box .btns a:nth-child(1),
  .sub01052 .v8 .txt-box .btns a:nth-child(2) {
    width: 11.5vw;
  }
  .sub01052 .v9 img {
    height: 45.9vw;
  }
  .sub01052 .v9 img:nth-child(1) {
    width: 81vw;
  }
  .sub01052 .v9 img:nth-child(2) {
    width: 74.6vw;
  }
}
@media screen and (max-width: 800px) {
  .location {
    display: none;
  }
  .contents_prod2 .web {
    display: none;
  }
  .contents_prod2 .mo {
    display: block;
  }
  .contents_prod2 .cont-visual {
    margin-bottom: 40px;
  }
  .contents_prod2 .cont-visual .tit {
    font-size: 30px;
    margin-bottom: 20px;
    color: #3a3a3a;
  }
  .contents_prod2 .cont-visual .txt {
    margin-bottom: 30px;
  }
  .contents_prod2 .cont-visual.v1 {
    margin-bottom: 20px;
  }
  .contents_prod2 .cont-visual.v1 .tit {
    font-size: 17px;
    padding: 0 20px 0 15px;
    margin-top: 30px;
  }
  .contents_prod2 .cont-visual.v1 .txt {
    font-size: 16px;
    padding: 0 20px 0 15px;
  }
  .contents_prod2 .cont-visual.v1 img {
    width: 160vw;
  }
  .contents_prod2 .cont-visual.v2,
  .contents_prod2 .cont-visual.v3 {
    margin-bottom: 20px;
  }
  .contents_prod2 .cont-visual .product_list2 li {
    width: 49%;
    margin-right: 2%;
  }
  .contents_prod2 .cont-visual .product_list2 li a {
    min-height: 300px;
  }
  .contents_prod2 .cont-visual .product_list2 li:nth-child(even) {
    margin-right: 0;
  }
  .contents_prod2 .cont-visual .product_list2 li:nth-child(odd) {
    margin-right: 2%;
  }
  .contents_prod2 .cont-visual.v4 .txt-box {
    top: 154px;
  }
  .contents_prod2 .cont-visual.v4 .txt-box p.tit {
    font-size: 25px;
  }
  .contents_prod2 .cont-visual.v4 .txt-box p.txt {
    font-size: 16px;
  }
  .contents_prod2 .cont-visual.v5 ul li,
  .contents_prod2 .cont-visual.v6 ul li {
    width: 49%;
    margin-bottom: 15px;
  }
  .contents_prod2 .cont-visual.v5 ul li:nth-child(even),
  .contents_prod2 .cont-visual.v6 ul li:nth-child(even) {
    margin-right: 0;
  }
  .contents_prod2 .cont-visual.v5 ul li:nth-child(odd),
  .contents_prod2 .cont-visual.v6 ul li:nth-child(odd) {
    margin-right: 2%;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner .tit {
    font-size: 20px;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner .txt {
    font-size: 15px;
    margin-bottom: 0;
  }
  .contents_prod2 .cont-visual.v8 .sub-tit {
    font-size: 20px;
  }
  .contents_prod2 .cont-visual.v8 .txt {
    font-size: 15px;
    margin: 10px 0 20px;
  }
  .contents_prod2 .cont-visual.v8 img {
    width: 140vw;
  }
  .sub0105 .cont-sub0105 {
    padding: 7.3vw 0;
  }
  .sub0105 .cont-sub0105 h3 {
    font-size: 4.5vw;
    margin-bottom: 3.2vw;
  }
  .sub0105 .v1 {
    padding: 0;
  }
  .sub0105 .v1 .txt-box {
    top: 7vw;
  }
  .sub0105 .v1 .txt-box .tit {
    font-size: 3.5vw;
  }
  .sub0105 .v1 .txt-box .txt {
    font-size: 2.5vw;
  }
  .sub0105 .v3 .v3-box {
    font-size: 0;
  }
  .sub0105 .v3 .v3-box .box-inner {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
    max-width: none;
  }
  .sub0105 .v3 .v3-box .box-inner:nth-child(2n) {
    margin-right: 0;
  }
  .sub0105 .v3 .v3-box .box-inner .txt-box {
    padding: 3.8vw 0;
    min-height: 40vw;
  }
  .sub0105 .v3 .v3-box .box-inner .txt-box .tit {
    font-size: 4vw;
    margin-bottom: 1vw;
  }
  .sub0105 .v3 .v3-box .box-inner .txt-box .sub-tit {
    font-size: 3vw;
    margin-bottom: 2.5vw;
  }
  .sub0105 .v3 .v3-box .box-inner .txt-box .txt {
    font-size: 3vw;
  }
  .sub0105 .v4 {
    font-size: 0;
  }
  .sub0105 .v4 .v4-inner ul {
    font-size: 0;
  }
  .sub0105 .v4 .v4-inner ul .tab a p {
    font-size: 2vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont {
    padding: 0 5vw;
    margin-bottom: 5vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell {
    height: 22.7vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box p.num {
    font-size: 5vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box p.tit {
    font-size: 3vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box p.txt {
    font-size: 2.3vw;
    margin-top: 2.5vw;
  }
  .sub01052 .cont-sub01052 {
    padding: 30px 0;
  }
  .sub01052 .cont-sub01052 h3 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .sub01052 .cont-sub01052 .v-sub-tit {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .sub01052 .v1 {
    padding-top: 0;
  }
  .sub01052 .v2 {
    padding-top: 10vw;
  }
  .sub01052 .v2 .v-tit {
    font-size: 3.5vw;
    position: relative;
  }
  .sub01052 .v2 img {
    z-index: -1;
  }
  .sub01052 .v2 .ico1 {
    width: 10.5vw;
    height: 9.3vw;
    left: 50%;
    top: 0;
  }
  .sub01052 .v2 .ico2 {
    width: 33.25vw;
    height: 26.9vw;
    left: -15vw;
    top: 30vw;
  }
  .sub01052 .v2 .ico3 {
    width: 24.4vw;
    height: 37.5vw;
    right: -12vw;
    top: 20vw;
  }
  .sub01052 .v2 .img-box {
    margin-top: 10vw;
  }
  .sub01052 .v2 .img-box ul li a {
    font-size: 2.25vw;
    width: 25vw;
    line-height: normal;
    padding-left: 2.5vw;
    margin: 2.5vw 0.5vw 0;
  }
  .sub01052 .v2 .img-box ul li a:hover:after {
    right: 3vw;
  }
  .sub01052 .v2 .img-box ul li a:after {
    right: 3vw;
  }
  .sub01052 .v3 img,
  .sub01052 .v8 img {
    width: 90%;
    height: auto;
  }
  .sub01052 .v3 .txt-box,
  .sub01052 .v8 .txt-box {
    margin-left: 0;
    width: 90%;
    margin-top: 30px;
  }
  .sub01052 .v3 .txt-box p.tit,
  .sub01052 .v8 .txt-box p.tit {
    font-size: 22px;
    margin-top: 0;
  }
  .sub01052 .v3 .txt-box p.txt,
  .sub01052 .v8 .txt-box p.txt {
    font-size: 16px;
    margin-top: 1.6vw;
  }
  .sub01052 .v3 .txt-box .btns,
  .sub01052 .v8 .txt-box .btns {
    margin-top: 5vw;
  }
  .sub01052 .v3 .txt-box .btns a,
  .sub01052 .v8 .txt-box .btns a {
    font-size: 15px;
    height: 45px;
    line-height: 45px;
  }
  .sub01052 .v3 .txt-box .btns a:nth-child(1),
  .sub01052 .v8 .txt-box .btns a:nth-child(1) {
    width: 236px;
  }
  .sub01052 .v3 .txt-box .btns a:nth-child(2),
  .sub01052 .v8 .txt-box .btns a:nth-child(2) {
    width: 166px;
  }
  .sub01052 .box .box-inner {
    width: 90%;
    padding: 4vw 0 3.2vw;
    margin: 0 2vw 3.2vw;
  }
  .sub01052 .box .box-inner .tit {
    font-size: 18px;
  }
  .sub01052 .box .box-inner .sub-tit {
    font-size: 16px;
  }
  .sub01052 .box .box-inner img {
    width: 54.75vw;
    height: 29.75vw;
  }
  .sub01052 .box .box-inner .txt {
    font-size: 16px;
    margin: 2.4vw 0;
  }
  .sub01052 .box .box-inner .btns a {
    font-size: 15px;
    width: 166px;
    height: 45px;
    line-height: 45px;
    margin: 0 0.3vw;
  }
  .sub01052 .v8 img {
    width: 41.7vw;
    height: 43.4vw;
  }
  .sub01052 .v8 .txt-box {
    margin-left: 6.8vw;
  }
  .sub01052 .v8 .txt-box p.txt {
    font-size: 14px;
  }
  .sub01052 .v8 .txt-box p.sub-txt {
    font-size: 15px;
  }
  .sub01052 .v8 .txt-box .btns a:nth-child(1),
  .sub01052 .v8 .txt-box .btns a:nth-child(2) {
    width: 166px;
  }
  .sub01052 .v9 img {
    height: 45.9vw;
  }
  .sub01052 .v9 img:nth-child(1) {
    width: 81vw;
  }
  .sub01052 .v9 img:nth-child(2) {
    width: 74.6vw;
  }
}
@media screen and (max-width: 620px) {
  .contents_prod2 .web {
    display: none;
  }
  .contents_prod2 .mo {
    display: block;
  }
  .contents_prod2 .cont-visual .product_list2 li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .contents_prod2 .cont-visual .product_list2 li a {
    padding-bottom: 50px;
    min-height: auto;
  }
  .contents_prod2 .cont-visual .product_list2 li:nth-child(odd) {
    margin-right: 0;
  }
  .contents_prod2 .cont-visual.v1 img {
    width: 190vw;
  }
  .contents_prod2 .cont-visual.v4 .txt-box {
    margin-top: 8vw;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .contents_prod2 .cont-visual.v4 .txt-box p.tit {
    font-size: 25px;
  }
  .contents_prod2 .cont-visual.v4 .txt-box p.txt {
    font-size: 16px;
  }
  .contents_prod2 .cont-visual.v5 ul li,
  .contents_prod2 .cont-visual.v6 ul li {
    width: 100%;
  }
  .contents_prod2 .cont-visual.v5 ul li:nth-child(odd),
  .contents_prod2 .cont-visual.v6 ul li:nth-child(odd) {
    margin-right: 0;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner {
    height: auto;
    max-height: none;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner:after {
    display: none;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .img,
  .contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap {
    width: 100%;
    display: block;
    float: none;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .img:after {
    display: none;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap {
    padding: 30px 0;
    box-sizing: border-box;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner {
    position: relative;
    top: auto;
    transform: none;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner .tit {
    font-size: 20px;
  }
  .contents_prod2 .cont-visual.v7 .wrap .inner .txt-wrap .txt-inner .txt {
    font-size: 15px;
    margin-bottom: 0;
  }
  .contents_prod2 .cont-visual.v8 img {
    width: 220vw;
  }
  .contents_prod2 .cont-visual p,
  .contents_prod2 .cont-visual ul {
    padding: 0 6vw!important;
  }
  .sub0102 .v1 .v1-top {
    margin-bottom: 3.2vw;
  }
  .sub0102 .v1 .v1-top img {
    width: 130vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .sub0102 .v1 .v1-top p {
    font-size: 5vw;
    margin-top: 3vw;
  }
  .sub0102 .v1 ul {
    font-size: 0;
  }
  .sub0102 .v1 ul li {
    max-width: none;
    width: 100%;
    display: block;
    margin-bottom: 5vw;
    text-align: left;
    padding-left: 8vw;
    box-sizing: border-box;
  }
  .sub0102 .v1 ul li img {
    width: 8.6vw;
    height: 8vw;
    display: inline-block;
    vertical-align: middle;
  }
  .sub0102 .v1 ul li .txt-wrap {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4vw;
  }
  .sub0102 .v1 ul li .txt-wrap .tit {
    font-size: 3vw;
    margin-top: 0;
  }
  .sub0102 .v1 ul li .txt-wrap .txt {
    font-size: 2.5vw;
    margin-top: 0;
  }
  .sub0102 .v2,
  .sub0102 .v3 {
    width: auto;
    height: 230vw;
    margin: auto;
    transform: none;
    margin-bottom: 5vw;
  }
  .sub0102 .v2 img,
  .sub0102 .v3 img {
    width: auto;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .sub0102 .v2 h3,
  .sub0102 .v3 h3 {
    font-size: 5.8vw;
    top: 9vw;
  }
  .sub0102 .v2 .sub0102-ul,
  .sub0102 .v3 .sub0102-ul {
    top: 25vw;
  }
  .sub0102 .v2 .sub0102-ul li,
  .sub0102 .v3 .sub0102-ul li {
    width: 78.58vw;
    height: 60.9vw;
    display: block;
    margin: 0 auto;
    margin-bottom: 5vw;
  }
  .sub0102 .v2 .sub0102-ul li:last-child,
  .sub0102 .v3 .sub0102-ul li:last-child {
    margin-right: auto;
  }
  .sub0102 .v2 .sub0102-ul li img,
  .sub0102 .v3 .sub0102-ul li img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .sub0102 .v2 .sub0102-ul li .txt-box,
  .sub0102 .v3 .sub0102-ul li .txt-box {
    position: absolute;
    left: 4.8vw;
    top: 27vw;
  }
  .sub0102 .v2 .sub0102-ul li .txt-box .tit,
  .sub0102 .v3 .sub0102-ul li .txt-box .tit {
    font-size: 5vw;
  }
  .sub0102 .v2 .sub0102-ul li .txt-box .txt,
  .sub0102 .v3 .sub0102-ul li .txt-box .txt {
    font-size: 4vw;
    margin-top: 3.2vw;
  }
  .sub0105 .cont-sub0105 h3 {
    font-size: 5vw;
    margin-bottom: 3.2vw;
  }
  .sub0105 .v1 {
    padding: 0;
    position: relative;
  }
  .sub0105 .v1 .img {
    width: 100%;
    height: calc(61vw + 4px);
    position: relative;
  }
  .sub0105 .v1 .img img {
    width: 155vw;
    height: 61vw;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
  }
  .sub0105 .v1 .txt-box {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }
  .sub0105 .v1 .txt-box .tit {
    font-size: 4.5vw;
  }
  .sub0105 .v1 .txt-box .txt {
    font-size: 2.8vw;
  }
  .sub0105 .v2 .inner img {
    width: 90%;
    margin: 0 auto;
  }
  .sub0105 .v3 .v3-box {
    font-size: 0;
    padding: 0 6vw;
  }
  .sub0105 .v3 .v3-box .box-inner {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
    max-width: none;
  }
  .sub0105 .v3 .v3-box .box-inner img {
    width: 70%;
  }
  .sub0105 .v3 .v3-box .box-inner:nth-child(2n) {
    margin-right: 0;
  }
  .sub0105 .v3 .v3-box .box-inner .txt-box {
    padding: 3.8vw 0;
    min-height: 38vw;
  }
  .sub0105 .v3 .v3-box .box-inner .txt-box .tit {
    font-size: 4.5vw;
  }
  .sub0105 .v3 .v3-box .box-inner .txt-box .sub-tit {
    font-size: 4vw;
  }
  .sub0105 .v3 .v3-box .box-inner .txt-box .txt {
    font-size: 3.5vw;
  }
  .sub0105 .v4 {
    font-size: 0;
    padding-bottom: 0;
  }
  .sub0105 .v4 .v4-inner ul {
    font-size: 0;
  }
  .sub0105 .v4 .v4-inner ul .tab {
    width: 50%;
    height: 22vw;
    border: 1px solid #d8d8d8;
  }
  .sub0105 .v4 .v4-inner ul .tab a p {
    font-size: 3vw;
    margin-top: 13vw;
  }
  .sub0105 .v4 .v4-inner .view {
    padding: 5vw 0 0;
    overflow: hidden;
  }
  .sub0105 .v4 .v4-inner .view .view-cont {
    padding: 0 6vw;
    margin-bottom: 5vw;
    position: relative;
    min-height: 80vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell {
    height: 40vw;
    width: 100% !important;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell.cell2 {
    margin-top: 2vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell img {
    width: auto!important;
    height: 100% !important;
    margin: 0!important;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box {
    position: relative;
    top: auto;
    transform: none;
    text-align: left;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box p.num {
    font-size: 25px;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box p.tit {
    font-size: 18px;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell .cell-box p.txt {
    font-size: 16px;
    margin-top: 2.5vw;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell.cell2.cell-bt {
    position: absolute;
    left: 5vw;
    bottom: 0;
    width: 90% !important;
  }
  .sub0105 .v4 .v4-inner .view .view-cont .cell.cell3.cell-tp {
    position: absolute;
    left: 5vw;
    top: 0;
    width: 90% !important;
  }
  .sub01052 .cont-sub01052 {
    padding-bottom: 10vw;
  }
  .sub01052 .cont-sub01052 .v-sub-tit {
    font-size: 18px;
    padding: 0 2vw;
  }
  .sub01052 .v1 {
    padding-top: 0;
  }
  .sub01052 .v1 .img {
    width: 100%;
    height: calc(61.25vw + 4px);
    position: relative;
  }
  .sub01052 .v1 .img img {
    width: 155vw;
    height: 61.25vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .sub01052 .v2 .v-tit {
    font-size: 5vw;
  }
  .sub01052 .v2 .ico3 {
    top: 30vw;
  }
  .sub01052 .v2 .img-box {
    margin-top: 10vw;
  }
  .sub01052 .v2 .img-box ul li {
    margin-bottom: 0;
  }
  .sub01052 .v2 .img-box ul li img {
    width: 100%;
    height: 17vw;
  }
  .sub01052 .v2 .img-box ul li a {
    font-size: 4vw;
    width: 30vw;
    height: 8vw;
    padding-left: 2vw;
  }
  .sub01052 .v2 .img-box ul li a:hover:after {
    right: 3vw;
  }
  .sub01052 .v2 .img-box ul li a:after {
    width: 2vw;
    height: 3.8vw;
    right: 3vw;
    top: 1.4vw;
  }
  .sub01052 .v3 .txt-box .btns,
  .sub01052 .v8 .txt-box .btns {
    width: 100%;
    text-align: center;
  }
  .sub01052 .v3 .txt-box .btns a,
  .sub01052 .v8 .txt-box .btns a {
    font-size: 3vw;
    height: 7.3vw;
    line-height: 7.3vw;
    vertical-align: middle;
  }
  .sub01052 .v3 .txt-box .btns a:nth-child(1),
  .sub01052 .v8 .txt-box .btns a:nth-child(1) {
    width: 45%;
    margin: 0 1%;
  }
  .sub01052 .v3 .txt-box .btns a:nth-child(2),
  .sub01052 .v8 .txt-box .btns a:nth-child(2) {
    width: 45%;
    margin: 0 1%;
  }
  .sub01052 .box .box-inner .tit {
    font-size: 23px;
  }
  .sub01052 .box .box-inner .sub-tit {
    font-size: 16px;
  }
  .sub01052 .box .box-inner .btns {
    width: 100%;
    text-align: center;
  }
  .sub01052 .box .box-inner .btns a {
    font-size: 3vw;
    height: 7.3vw;
    line-height: 7.3vw;
    vertical-align: middle;
  }
  .sub01052 .box .box-inner .btns a:nth-child(1) {
    width: 45%;
    margin: 0 1%;
  }
  .sub01052 .box .box-inner .btns a:nth-child(2) {
    width: 45%;
    margin: 0 1%;
  }
  .sub01052 .v5 ul {
    padding: 0 6vw 10vw;
  }
  .sub01052 .v5 ul li {
    margin: 3vw 0;
    width: 50%;
  }
  .sub01052 .v5 ul li img {
    width: 53.75vw;
    height: 15.48vw;
    margin-left: calc(50% + 3vw);
    transform: translateX(-50%);
  }
  .sub01052 .v5 ul li p.tit {
    font-size: 5vw;
  }
  .sub01052 .v5 ul li p.txt {
    font-size: 4vw;
  }
  .sub01052 .v5 ul {
    padding: 0 6vw 10vw;
  }
  .sub01052 .v7 ul {
    display: block;
    text-align: center;
  }
  .sub01052 .v7 ul li {
    display: inline-block;
    width: 45%;
    margin: 0 0 7vw;
  }
  .sub01052 .v7 ul li img {
    height: 14vw;
  }
  .sub01052 .v7 ul li .tit {
    font-size: 3.5vw;
  }
  .sub01052 .v7 ul li .txt {
    font-size: 3vw;
  }
  .sub01052 .v8 img {
    width: 83vw;
    height: 86vw;
  }
  .sub01052 .v8 .txt-box {
    margin-left: 0;
  }
  .sub01052 .v8 .txt-box p.txt {
    font-size: 14px;
  }
  .sub01052 .v8 .txt-box p.sub-txt {
    font-size: 15px;
  }
  .sub01052 .v8 .txt-box .btns {
    width: 100%;
    text-align: center;
  }
  .sub01052 .v8 .txt-box .btns a {
    font-size: 3vw;
    height: 7.3vw;
    line-height: 7.3vw;
    vertical-align: middle;
  }
  .sub01052 .v8 .txt-box .btns a:nth-child(1) {
    width: 45%;
    margin: 0 1%;
  }
  .sub01052 .v8 .txt-box .btns a:nth-child(2) {
    width: 45%;
    margin: 0 1%;
  }
  .sub01052 .v9 {
    padding-bottom: 0;
  }
}
/*# sourceMappingURL=content_prod2.css.map */