
//sub0101 *****************************
.contents_prod2 { overflow: hidden;
  img { width: 100%; backface-visibility: hidden; }
  .cont-visual { max-width: 1250px; margin: 0 auto; text-align: center; position: relative; letter-spacing: -0.04em; margin-bottom: 150px;
    .tit { font-size: 45px; line-height: 1.6; color:#3a3a3a; font-weight: 900; margin-bottom: 43px; text-align: center; }
    .txt { font-size: 20px; color:#2e3139; line-height: 1.75; margin-top: 9px; padding: 0 40px 0 25px; box-sizing: border-box; }

    &.v1 { text-align: left; margin-bottom: 50px;
      .tit { font-size: 25px; color:#393939; padding: 0 40px 0 25px; margin: 54px 0 10px; font-weight: 700; text-align: left; }
      .txt { font-size: 20px; color:#2e3139; line-height: 1.75; margin-top: 9px; padding: 0 40px 0 25px; box-sizing: border-box; }
    }
    &.v2 { margin-bottom: 70px; }
    &.v3 { padding-top: 40px; margin-bottom: 70px;
      .tit { margin-bottom: 0; }
      .txt { margin-bottom: 64px; }
      &:after { content:''; display: block; width:100vw; height:86.6%; position: absolute; left: 50%; top:0; transform: translateX(-50%); background: #f2f5f8; z-index: -1; }
    }
    .product_list2 { font-size: 0; text-align: left;
      li { width:32%; margin-right:2%; margin-bottom: 25px;
        a {
          .img { width: auto; height: 76px; border: 0; top:auto; left: auto;
            img { height: 100%;}
          }
          .t2 { font-size: 15px; line-height:1.33; font-weight: 300; margin-top: 100px; }
        }
        &:nth-child(3n) { margin-right: 0;}
      }
    }
    &.v4 { max-width: 1920px;
      .img { background: url("../img/contents_prod2/contents_v5.png") no-repeat center top; height: 313px; background-size: cover; }
    }
    &.v5, &.v6 { font-size: 0; text-align: left;
      ul li { width: 32%; height: 55%; margin-right: 2%; margin-bottom: 25px; display: inline-block; position: relative; text-align: center;
        img { display: block; height: 100%; }
        .vray-list { width: 100%; height: 100%; position: absolute; left: 0; top:0; opacity: 0; transition: opacity 0.5s;
          .dim { width: 100%; height: 100%; background: #000; opacity: 0.8; }
          p { font-size: 20px; width: 100%; line-height: 1.6; color:#fff; font-weight: 500; letter-spacing: -0.04em; position: absolute; left:0; top:50%; transform: translateY(-50%); }
        }
        &:hover {
          .vray-list { opacity: 1; }
        }
        &:nth-child(3n) { margin-right: 0;}
      }
    }
    &.v7 { max-width: 100%;
      .wrap { background:#f5f5f5;
        .inner { width: 1250px; height: 31.76vw; max-height: 397px;
          &:after { content:''; display: block; clear: both; }
          .img { width:50%; height: 100%; position: relative; float: left;
            img { height: 100%; position:relative; z-index: 1; }
            &:after { content:''; display: block; left: -10px; background: #fff; width:calc(100% + 20px); height: 100%; top:0; position: absolute; }
          }
          .txt-wrap { width:50%; height: 100%; float: right; position: relative;
            .txt-inner { position: absolute; width:100%; top: 50%; transform: translateY(-50%);
              .tit { font-size:30px; color:#2e3d63; line-height:1.6; margin-bottom: 15px; }
              .txt { font-size: 20px; color:#414142; line-height: 1.8; }
            }
          }
        }
      }
    }
    &.v8 { margin-bottom: 0;
      .sub-tit { font-size: 30px; color:#2e3d63; font-weight: 700; }
      .txt { font-size: 20px; color:#414142; line-height: 1.6; margin: 20px 0 46px; }
    }
  }
  .btn_center {
    .btn.ty8 { background: #3b80d3 url("../img/common/btn_arrow2.png") no-repeat 100% 50%; }
  }
}

//sub0102 *****************************
.sub0102 { text-align: center; overflow: hidden;
  .cont-sub0102 { margin:0 auto; position: relative; }
  .v1 { max-width: 1250px;
    &:after { content:''; display: block; position: absolute; left:50%; bottom: -7.04vw; margin-left: 3.2vw; transform: translateX(-50%); max-width:1205px; width: 96.4vw; max-height: 379px; height: 30.32vw; background: url("../img/contents_prod2/contents_sub0102-7.png"); background-size: contain; z-index: -1; }
    .v1-top { position: relative; margin-bottom: 132px;
      p { font-size: 44px; color:#fff; line-height: 1.2; font-weight: 500; position: absolute; left: 50%; top:50%; transform: translate(-50%,-50%); width: 100%; margin-top: 20px;
        span { color:#26c3d8; display: block; }
      }
    }
    ul { font-size: 0;
      li { max-width:220px; width: 17.6vw; display: inline-block; vertical-align: top; margin-bottom: 146px;
        img { width:70px; height: 64px; }
        .tit { font-size: 21px; color: #057589; font-weight: 700; line-height:1.2; margin-top: 23px; }
        .txt { font-size:15px; color:#535353; line-height: 1.7; margin-top: 14px; vertical-align: top; }
      }
    }
  }
  .v2, .v3 { width: 1507px; margin-left: 50%; transform: translateX(-50%); margin-bottom: 30px;
    h3 { font-size: 36px; color: #fff; font-weight: 700; position: absolute; left: 50%; top:190px; transform: translateX(-50%); }
    .sub0102-ul { width: 100%; position: absolute; left: 0; top: 309px; font-size: 0;
      li { width: 388px; height: 297px; display: inline-block; vertical-align: top; margin-right: 43px; text-align: left; position: relative;
        &:last-child { margin-right: 0;}
        img { display: block; width: 100%; height: 100%; }
        .txt-box { position: absolute; left: 30px; top:127px;
          .tit { font-size:25px; color:#fff; font-weight: 700; line-height: 1.2; }
          .txt { font-size:16px; color:#fff; font-weight: 300; line-height: 1.2; margin-top: 20px; }
        }
      }
    }
  }
}

//sub0105 *****************************
.sub0105 { text-align: center;
  .cont-sub0105 { max-width: 1250px; margin: 0 auto; position: relative; padding: 90px 0; box-sizing: border-box;
    h3 { font-size: 36px; line-height:1.4; font-weight: 700; display: inline-block; color:#000; margin-bottom: 40px;
      span { font-weight: 300; color:#000; }
    }
  }
  .v1 { margin-bottom: 53px; padding: 0;
    img { border: 4px solid #1f7ce5; }
    .txt-box { position: absolute; left:73px; top:145px; text-align: left;
      .tit { font-size:45px; line-height: 1.2; color:#211f1f;
        span { font-weight: 700; color:#211f1f; }
      }
      .txt { font-size: 20px; line-height:1.5; color:#211f1f; margin-top: 25px;
        .mo { display: none; }
        .pc { display: block; }
      }
    }
  }
  .v2, .v4 { background: #f9f9f9; max-width: none;
    .inner { max-width: 1250px;
      .mo { display: none; }
    }
  }
  .v3 { font-size: 0;
    .v3-box {
      &:last-child { margin-right: 0; }
      .box-inner { width: 23.2vw; max-width: 290px; margin-right: 30px; display: inline-block; vertical-align: top; background: #f4f3f3; border:1px solid #e2e2e2; box-sizing: border-box;
        &:last-child { margin-right: 0; }
        img { width: 100%; }
        .txt-box { width: 100%; background: #fff; padding: 30px 0; box-sizing: border-box; min-height: 228px;
          p {  color:#000; line-height: 1.3; }
          .tit { font-size: 24px;  font-weight: 700; margin-bottom: 8px; }
          .sub-tit { font-size: 18px; color:#3769bc; font-weight: 500; margin-bottom: 16px; }
          .txt { font-size:16px; color:#434343; font-weight: 500; line-height: 1.88; }
        }
      }
    }
  }
  .v4 { font-size: 0;
    .v4-inner {
      ul {
        .tab { width: 25%; height: 140px; display: inline-block; vertical-align: top; background: #fff; border: 1px solid #d8d8d8; border-right: 0; box-sizing: border-box;
          &:last-child { border-right: 1px solid #d8d8d8; }
          a { display: block; width: 100%; height: 100%; cursor: pointer; overflow: hidden; z-index: 1;
            p { font-size: 18px; color:#2e3139; font-weight: 500; margin-top: 89px; pointer-events: none; }
          }
          &.tab1 { background:#fff url("../img/contents_prod2/contents_sub0105-tab1.png") no-repeat center top; background-size: contain; }
          &.tab2 { background:#fff url("../img/contents_prod2/contents_sub0105-tab2.png") no-repeat center top; background-size: contain; }
          &.tab3 { background:#fff url("../img/contents_prod2/contents_sub0105-tab3.png") no-repeat center top; background-size: contain; }
          &.tab4 { background:#fff url("../img/contents_prod2/contents_sub0105-tab4.png") no-repeat center top; background-size: contain; }
        }
      }
      .view { display: none; background: #fff; padding: 60px 0; box-sizing: border-box;
        .view-cont {font-size:0;padding: 0 130px; box-sizing: border-box;
          .cell { height: 280px; display: inline-block; vertical-align: middle; position: relative;
            .cell-box { position: absolute; left: 0; top:50%; transform: translateY(-50%);
              p { color:#000; font-weight: 700;
                &.num { font-size: 40px; }
                &.tit { font-size: 24px; margin-top: 5px; }
                &.txt { font-size: 18px; font-weight: 300; margin-top: 15px; }
              }
            }
            img { position: absolute; left:50%; top:50%; transform: translate(-50%,-50%);
              &.c-img1 { width:329px; height: 201px; }
              &.c-img2 { width:366px; height: 264px; }
              &.c-img3 { width:434px; height: 267px; }
              &.c-img4 { width:364px; height: 262px; }
              &.c-img5 { width:409px; height: 265px; }
              &.c-img6 { width:404px; height: 269px; }
              &.c-img7 { width:308px; height: 264px; }
              &.c-img8 { width:417px; height: 257px; }
              &.c-img9 { width:409px; height: 261px; }
              &.c-img10 { width:374px; height: 260px; }
              &.c-img11 { width:390px; height: 253px; }
              &.c-img12 { width:416px; height: 269px; }
            }

            &.cell1 { width: 60%; text-align: left; }
            &.cell2 { width: 40%;
              img { margin-left: 20px; }
            }
            &.cell3 { width: 60%; text-align: right;
              .cell-box { left: auto; right: 0; }
            }
          }
        }
      }
      .web { display: block; }
      &[data-view="1"] {
        .tab1 {
          a p { color:#fff; }
          &.tab1 { background:#305593 url("../img/contents_prod2/contents_sub0105-tab1-active.png") no-repeat center top; background-size: contain; }
        }
        .view1 { display: block; }
      }
      &[data-view="2"] {
        .tab2 {
          a p { color:#fff; }
          &.tab2 { background:#305593 url("../img/contents_prod2/contents_sub0105-tab2-active.png") no-repeat center top; background-size: contain; }
        }
        .view2 { display: block; }
      }
      &[data-view="3"] {
        .tab3 {
          a p { color:#fff; }
          &.tab3 { background:#305593 url("../img/contents_prod2/contents_sub0105-tab3-active.png") no-repeat center top; background-size: contain; }
        }
        .view3 { display: block; }
      }
      &[data-view="4"] {
        .tab4 {
          a p { color:#fff; }
          &.tab4 { background:#305593 url("../img/contents_prod2/contents_sub0105-tab4-active.png") no-repeat center top; background-size: contain; }
        }
        .view4 { display: block; }
      }
    }
  }
}

//sub01052 *****************************
.sub01052 { overflow: hidden;
  .cont-sub01052 { max-width: 1250px; margin: 0 auto; text-align: center; padding: 85px 0; box-sizing: border-box;
    h3 { font-size: 40px; color: #3b3b44; line-height: 1.5; font-weight:700; margin-bottom: 25px;
      span { color:#6963ff; font-weight: 700; }
    }
    .v-sub-tit { font-size:32px; font-weight: 300; line-height: 1.4; color:#000; margin-bottom: 35px; }
  }
  .v1 { padding-top: 0;
    img { border: 4px solid #1f7ce5; }
  }
  .v2 { position: relative;
    .v-tit { font-size: 32px; line-height: 1.56; font-weight: 300; color:#000;
      span { font-weight: 700; color:#000; }
    }
    .ico1, .ico2, .ico3 { position: absolute; left: 50%; margin-left: -14px; }
    .ico1 { width: 84px; height: 74px; top:0; }
    .ico2 { width: 266px; height: 215px; top:188px; margin-left: -664px; }
    .ico3 { width: 195px; height: 300px; top:118px; margin-left: 445px; }
    .img-box { margin-top: 80px;
      ul { font-size: 0; display: block;
        li { display: inline-block; margin:0 4px 20px;
          img { width: 334px; height: 186px; display: block; position: relative; }
          a { font-size: 22px; font-weight: 700; color:#2f3033; padding-left: 35px; box-sizing: border-box; width:334px; height: 54px; padding-top: 10px; display: inline-block; margin: 30px 4px 0; position: relative; border: 2px solid #4e5051; border-radius: 4px; text-align: left; background:#fff;
            &:hover { background: #6963ff; border: 2px solid #6963ff; color:#fff;
              &:after { content:''; display: inline-block; width:11px; height: 21px; position: absolute; right: 30px; top:15px; background: url("../img/contents_prod2/contents_ico7.png"); }
            }
            &:after { content:''; display: inline-block; width:11px; height: 21px; position: absolute; right: 30px; top:15px; background: url("../img/contents_prod2/contents_ico7-1.png"); }
          }
        }
      }
    }
  }
  .v3, .v8 { max-width: none; font-size: 0;
    img, .txt-box { display: inline-block; vertical-align: top; }
    .txt-box {
      p { color:#000; text-align: left; line-height: 1.56;
        &.tit { font-size:32px; margin-top: 8px; font-weight: 700; }
        &.txt { font-size:18px; color:#2e3139; margin-top: 33px; }
      }
      .btns { margin-top:40px; text-align: left;
        a { font-size: 16px; height: 52px; line-height: 52px; text-align: center; border-radius: 4px; color:#fff; display: inline-block;
          &:nth-child(1) { width: 236px; background:#6963ff; margin-right: 10px; }
          &:nth-child(2) { width: 166px; background:#393939; }
        }
      }
    }
  }
  .v3 {
    img { width: 683px; height:386px; }
    .txt-box { margin-left: 67px; }
  }
  .box { font-size: 0;
    .box-inner { width: 544px; padding: 50px 0 40px; box-sizing: border-box; text-align: center; display: inline-block; vertical-align: middle; border: 1px solid #ccc; border-radius: 8px; margin: 0 26px 40px;
      .tit { font-size: 30px; color:#6963ff; font-weight: 700; line-height:1.3; margin-bottom: 40px; }
      .sub-tit { font-size:21px; color:#2a292c; line-height: 1.3; }
      img { width: 438px; height: 238px; }
      .txt { font-size:20px; line-height:1.6; margin: 30px 0; }
      .btns {
        a { font-size: 16px; color:#fff; width:196px; height:52px; line-height: 52px; background:#6963ff; display: inline-block; vertical-align: middle; margin: 0 4px; border-radius: 4px;
          &:last-child { background:#393939; }
        }
      }
    }
  }
  .v5, .v7 { max-width: none; background: #f6f6f6; padding: 50px 0;
    ul { max-width: 1250px; margin: 0 auto; display: block; font-size: 0;
      li { margin: 50px 0; display: inline-block; vertical-align: middle;
        p { line-height: 1.3; color:#000; }
        .tit { font-size: 22px; font-weight: 500; margin-bottom: 6px; }
        .txt { font-size: 19px; font-weight: 300; }
      }
    }
  }
  .v5 {
    ul {
      li {
        img { width:250px; height: 72px; }
      }
    }
  }
  .v6 {
    img { width:337px; height:117px; margin-bottom: 40px; }
    .box {
      .box-inner {
        .tit { margin-bottom:5px; }
        .sub-tit { margin-bottom: 35px; }
      }
    }
  }
  .v7 {
    ul { display: flex; justify-content: space-between; flex-wrap: wrap;
      li {
        img { width:auto; height: 72px; }
        .tit sup { font-size: 10px; color:#000; font-weight: 700; }
      }
    }
  }
  .v8 {
    img, .txt-box { vertical-align: middle; }
    img { width: 515px; height: 535px; }
    .txt-box { margin-left: 84px;
      p {
        &.tit { font-weight: 300; }
        &.txt { font-size: 20px; margin-top: 23px; }
        &.sub-txt { font-size: 21px; color:#6963ff; font-weight: 700; margin-top: 35px; }
      }
      .btns {
        a:nth-child(1), a:nth-child(2) { width: 142px; }
      }
    }
  }
  .v9 { max-width: none; width: 1920px; margin-left: 50%; transform: translateX(-50%); font-size: 0; padding: 0;
    img { height:567px; display: inline-block;
      &:nth-child(1) { width: 999px; }
      &:nth-child(2) { width: 921px; }
    }
  }
}

@media screen and (max-width: 1234px) {
  //sub0101*****************************
  .contents_prod2 {
    .cont-visual {
      .product_list2 {
        li {
          a { padding-bottom: 50px;  min-height: 330px;
            .img { height: 60px; }
            .t2 { margin-top: 80px; }
          }
        }
      }
      &.v5, &.v6 {
        ul li {
          .vray-list {
            p { font-size: 15px; }
          }
        }
      }
      &.v7 {
        .wrap {
          .inner { width: 100%; }
        }
      }
    }
  }

  //sub0102*****************132************
  .sub0102 {
    .v1 {
      .v1-top { margin-bottom: 10.69vw;
        p { font-size: 3.56vw; margin-top: 1.6vw; }
      }
      ul {
        li { width: 17.6vw; margin-bottom: 11.8vw;
          img { width:5.67vw; height: 5.18vw; }
          .tit { font-size: 1.7vw; margin-top: 1.86vw; }
          .txt { font-size:1.2vw; margin-top: 1.1vw; }
        }
      }
    }
    .v2, .v3 { width: 100vw;
      h3 { font-size:2.39vw; top:12.6vw; }
      .sub0102-ul { top:20.05vw;
        li { width: 25.74vw; height:19.7vw; margin-right: 2.85vw;
          .txt-box { left: 2vw; top:6vw;
            .tit { font-size:2vw; }
            .txt { font-size:1.5vw; margin-top: 1.6vw; padding-right: 2vw; }
          }
        }
      }
    }
  }

  //sub0105 *****************************
  .sub0105 {
    .cont-sub0105 { padding: 7.3vw 0;
      h3 { font-size: 2.9vw; margin-bottom: 3.2vw; }
    }
    .v1 { margin-bottom: 4.3vw; padding: 0;
      img { border: 4px solid #1f7ce5; }
      .txt-box { left:5.9vw; top:11.8vw;
        .tit { font-size:3.6vw; }
        .txt { font-size: 1.6vw; margin-top: 2vw; }
      }
    }
    .v3 {
      .v3-box { font-size: 0;
        .box-inner { margin-right: 1.5vw;
          .txt-box { padding: 2.4vw 0; min-height: 19vw;
            .tit { font-size: 1.94vw; margin-bottom: 0.8vw; }
            .sub-tit { font-size: 1.46vw; margin-bottom: 1.2vw; }
            .txt { font-size:1.3vw; }
          }
        }
      }
    }
    .v4 { font-size: 0; padding-bottom: 0;
      .v4-inner {
        ul { font-size: 0;
          .tab { width: 25%; height: 11.3vw; background-size: contain;
            a {
              p { font-size: 1.46vw; margin-top: 7.2vw; }
            }
          }
        }
        .view {
          .view-cont { padding: 0 10.5vw;
            .cell { height: 22.7vw;
              .cell-box {
                p {
                  &.num { font-size: 3.2vw; }
                  &.tit { font-size: 1.9vw; }
                  &.txt { font-size: 1.5vw; margin-top: 1.2vw; }
                }
              }
              img {
                &.c-img1 { width:26.7vw; height: 16.9vw; }
                &.c-img2 { width:29.7vw; height: 21.4vw; }
                &.c-img3 { width:35.2vw; height: 21.6vw; }
                &.c-img4 { width:29.5vw; height: 21.2vw; }
                &.c-img5 { width:33.1vw; height: 21.5vw; }
                &.c-img6 { width:32.7vw; height: 21.8vw; }
                &.c-img7 { width:25vw; height: 21.4vw; }
                &.c-img8 { width:33.8vw; height: 20.8vw; }
                &.c-img9 { width:33.1vw; height: 21.2vw; }
                &.c-img10 { width:30.3vw; height: 21.1vw; }
                &.c-img11 { width:31.6vw; height: 20.5vw; }
                &.c-img12 { width:33.7vw; height: 21.8vw; }
              }

              &.cell2 {
                img { margin-left: 1.6vw; }
              }
            }
          }
        }
      }
    }
  }

  //sub01052 *****************************
  .sub01052 {
    .cont-sub01052 { padding: 60px 0; box-sizing: border-box;
      h3 { font-size: 33px; margin-bottom: 20px; }
      .v-sub-tit { font-size:28px; margin-bottom: 30px; }
    }
    .v1 { padding-top: 0;}
    .v2 { padding-top: 85px;
      .v-tit { font-size: 28px; }
      .ico1, .ico2, .ico3 { position: absolute; left: 50%; margin-left: -14px; }
      .ico2 { left: -40px; margin-left: 0; }
      .ico3 { left:auto; right:-50px; margin-left: 0; }
      .img-box {
        ul {
          li {
            img { width: 27vw; height: 15vw; }
            a { font-size: 18px; padding-left: 20px; width:27vw; height: 4.4vw; line-height: 4.4vw; padding-top: 0; margin: 20px 4px 0;
              &:hover {
                &:after { width:0.89vw; height: 1.7vw; right: 20px; top:1.2vw; background-size: contain; background-repeat: no-repeat; }
              }
              &:after { width:0.89vw; height: 1.7vw; right: 30px; top:1.2vw; background-size: contain; background-repeat: no-repeat; }
            }
          }
        }
      }
    }
    .v3, .v8 {
      img { width: 55.3vw; height:31.3vw; }
      .txt-box { margin-left: 2vw; width: 40vw;
        p {
          &.tit { font-size:2.6vw; margin-top: 0; }
          &.txt { font-size:1.4vw; margin-top: 1.6vw; }
        }
        .btns { margin-top:2.4vw;
          a { font-size: 1.3vw; height: 4.2vw; line-height: 4.2vw; }
          a:nth-child(1) { width: 19vw; }
          a:nth-child(2) { width: 13.5vw; }
        }
      }
    }
    .box {
      .box-inner { width: 44vw; padding: 4vw 0 3.2vw; margin: 0 2vw 3.2vw;
        .tit { font-size: 2.4vw; margin-bottom: 3.2vw; }
        .sub-tit { font-size:1.7vw; }
        img { width: 35.5vw; height: 19.3vw; }
        .txt { font-size:1.6vw; margin: 2.4vw 0; }
        .btns {
          a { font-size: 1.3vw; width:15.9vw; height:4.2vw; line-height: 4.2vw; margin: 0 0.3vw; }
        }
      }
    }
    .v5, .v7 { padding: 4vw 0;
      ul li { margin: 3vw; }
    }
    .v6 {
      img { width:27vw; height:9.5vw; margin-bottom: 3.2vw; }
      .box {
        .box-inner {
          .sub-tit { margin-bottom: 2.8vw; }
        }
      }
    }
    .v7 {
      ul { justify-content: center;
        li {
          img { height: 5.8vw; }
        }
      }
    }
    .v8 {
      img { width: 41.7vw; height: 43.4vw; }
      .txt-box { margin-left: 6.8vw;
        p {
          &.txt { font-size: 1.6vw; margin-top: 1.9vw; }
          &.sub-txt { font-size: 1.7vw; margin-top:2.8vw; }
        }
        .btns {
          a:nth-child(1), a:nth-child(2) { width:11.5vw; }
        }
      }
    }
    .v9 {
      img { height:45.9vw;
        &:nth-child(1) { width: 81vw; }
        &:nth-child(2) { width: 74.6vw; }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  //sub0101 *****************************
  .contents_prod2 {
    .cont-visual { margin-bottom: 40px;
      .tit { font-size:30px; margin-bottom: 20px; color:#3a3a3a; }
      .txt { margin-bottom: 30px; }

      &.v1 { margin-bottom: 20px;
        .tit { font-size: 17px; padding: 0 20px 0 15px; margin-top: 30px;}
        .txt { font-size: 16px; padding: 0 20px 0 15px; }
      }
      &.v2, &.v3 { margin-bottom: 20px;}
      .product_list2 {
        li { width:49%; margin-right:2%;
          a { min-height:300px }
          &:nth-child(even) { margin-right: 0;}
          &:nth-child(odd) { margin-right: 2%;}
        }
      }
      &.v4 {
        .img { height: 210px; }
      }
      &.v5, &.v6 {
        ul li { width: 49%; margin-bottom: 15px;
          &:nth-child(even) { margin-right: 0;}
          &:nth-child(odd) { margin-right: 2%;}
        }
      }
      &.v7 {
        .wrap {
          .inner {
            .txt-wrap {
              .txt-inner {
                .tit { font-size:20px; }
                .txt { font-size: 15px; margin-bottom: 0; }
              }
            }
          }
        }
      }
      &.v8 {
        .sub-tit { font-size: 20px; }
        .txt { font-size: 15px; margin: 10px 0 20px; }
      }
    }
  }

  //sub0105 *****************************
  .sub0105 {
    .cont-sub0105 { padding: 7.3vw 0;
      h3 { font-size: 4.5vw; margin-bottom: 3.2vw; }
    }
    .v1 { padding: 0;
      .txt-box { top:7vw;
        .tit { font-size: 3.5vw; }
        .txt { font-size: 2.5vw;
          .mo { display: block; }
          .pc { display: none; }
        }
      }
    }
    .v2 {
      .inner {
        .web { display: none; }
        .mo { display: block; }
      }
    }
    .v3 {
      .v3-box { font-size: 0;
        .box-inner { width: 49%; margin-right: 2%; margin-bottom: 2%; max-width: none;
          &:nth-child(2n) { margin-right: 0; }
          .txt-box { padding: 3.8vw 0; min-height: 40vw;
            .tit { font-size: 4vw; margin-bottom: 1vw; }
            .sub-tit { font-size: 3vw; margin-bottom: 2.5vw; }
            .txt { font-size:3vw; }
          }
        }
      }
    }
    .v4 { font-size: 0;
      .v4-inner {
        ul { font-size: 0;
          .tab {
            a {
              p { font-size: 2vw; }
            }
          }
        }
        .view {
          .view-cont { padding: 0 5vw; margin-bottom: 5vw;
            .cell { height: 22.7vw;
              .cell-box {
                p {
                  &.num { font-size: 5vw; }
                  &.tit { font-size: 3vw; }
                  &.txt { font-size: 2.3vw; margin-top: 2.5vw; }
                }
              }
            }
          }
        }
        .web { display: none; }
      }
    }
  }

  //sub01052 *****************************
  .sub01052 {
    .cont-sub01052 { padding: 30px 0;
      h3 { font-size: 28px; margin-bottom: 15px; }
      .v-sub-tit { font-size:22px; margin-bottom: 15px; }
    }
    .v1 { padding-top: 0;}
    .v2 { padding-top: 10vw;
      .v-tit { font-size: 3.5vw; position: relative; }
      img { z-index: -1;}
      .ico1 { width:10.5vw; height:9.3vw; left:50%; top:0; }
      .ico2 { width:33.25vw; height:26.9vw; left: -15vw; top: 30vw;}
      .ico3 { width:24.4vw; height:37.5vw; right:-12vw; top:20vw; }
      .img-box { margin-top: 10vw;
        ul {
          li {
            a { font-size: 2.25vw; width: 25vw; line-height: normal; padding-left: 2.5vw; margin: 2.5vw 0.5vw 0;
              &:hover {
                &:after { right: 3vw; }
              }
              &:after { right: 3vw; }
            }
          }
        }
      }
    }
    .v3, .v8 {
      img { width: 90%; height:auto; }
      .txt-box { margin-left: 0; width: 90%; margin-top: 30px;
        p {
          &.tit { font-size:22px; margin-top: 0; }
          &.txt { font-size:16px; margin-top: 1.6vw; }
        }
        .btns { margin-top:5vw;
          a { font-size: 15px; height: 45px; line-height: 45px; }
          a:nth-child(1) { width: 236px; }
          a:nth-child(2) { width: 166px; }
        }
      }
    }
    .box {
      .box-inner { width: 90%; padding: 4vw 0 3.2vw; margin: 0 2vw 3.2vw;
        .tit { font-size: 18px; }
        .sub-tit { font-size:16px; }
        img { width: 54.75vw; height: 29.75vw; }
        .txt { font-size:16px; margin: 2.4vw 0; }
        .btns {
          a { font-size: 15px; width:166px; height:45px; line-height: 45px; margin: 0 0.3vw; }
        }
      }
    }
    .v8 {
      img { width: 41.7vw; height: 43.4vw; }
      .txt-box { margin-left: 6.8vw;
        p {
          &.txt { font-size: 14px; }
          &.sub-txt { font-size: 15px; }
        }
        .btns {
          a:nth-child(1), a:nth-child(2) { width:166px; }
        }
      }
    }
    .v9 {
      img { height:45.9vw;
        &:nth-child(1) { width: 81vw; }
        &:nth-child(2) { width: 74.6vw; }
      }
    }
  }
}
@media screen and (max-width: 620px) {
  //sub0101 *****************************
  .contents_prod2 {
    .cont-visual {
      .product_list2 {
        li { width:100%; margin-right:0; margin-bottom: 10px;
          a { padding-bottom: 50px; min-height: auto; }
          &:nth-child(odd) { margin-right: 0;}
        }
      }
      &.v4 {
        .img { height: 180px; }
      }
      &.v5, &.v6 {
        ul li { width: 100%;
          &:nth-child(odd) { margin-right: 0;}
        }
      }
      &.v7 {
        .wrap {
          .inner { height: auto; max-height: none;
            &:after { display: none; }
            .img, .txt-wrap { width: 100%; display: block; float: none; }
            .img:after { display: none; }
            .txt-wrap { padding: 30px 0; box-sizing: border-box;
              .txt-inner { position: relative; top:auto; transform: none;
                .tit { font-size:20px; }
                .txt { font-size: 15px; margin-bottom: 0; }
              }
            }
          }
        }
      }
    }
  }

  //sub0102 *****************************
  .sub0102 {
    .v1 {
      .v1-top { margin-bottom: 3.2vw;
        p { font-size: 5vw; margin-top: 3vw;}
      }
      ul { font-size: 0;
        li { max-width: none; width: 100%; display: block; margin-bottom: 5vw; text-align: left; padding-left: 8vw; box-sizing: border-box;
          img { width:70px; height: 64px; display: inline-block; vertical-align: middle; }
          .txt-wrap { display: inline-block; vertical-align: middle; margin-left: 4vw;
            .tit { font-size: 5vw; margin-top:0; }
              .txt { font-size:3vw;margin-top:0; }
          }
        }
      }
    }
    .v2, .v3 { width: auto; height: 190vw; margin: auto; transform: none;
      img { width: auto; height: 100%; margin-left: 50%; transform: translateX(-50%); }
      h3 { font-size: 5.8vw; top:9vw; }
      .sub0102-ul {
        li { width: 62.58vw; height: 47.9vw; display: block; margin:0 auto; margin-bottom: 5vw;
          &:last-child { margin-right: auto; }
          img { display: block; width: 100%; height: 100%; }
          .txt-box { position: absolute; left: 4.8vw; top:15vw;
            .tit { font-size:5vw; }
            .txt { font-size:4vw; margin-top: 3.2vw; }
          }
        }
      }
    }
  }

  //sub0105 *****************************
  .sub0105 {
    .cont-sub0105 {
      h3 { font-size: 5vw; margin-bottom: 3.2vw; }
    }
    .v1 { padding: 0;
      .txt-box { top:5.3vw;
        .tit { font-size: 4.5vw; }
        .txt { font-size: 2.8vw;
          .mo { display: block; }
          .pc { display: none; }
        }
      }
    }
    .v2 {
      .inner {
        .web { display: none; }
        .mo { display: block; }
      }
    }
    .v3 {
      .v3-box { font-size: 0; padding: 0 10vw;
        .box-inner { width: 100%; margin-right: 0; margin-bottom: 2%; max-width: none;
          &:nth-child(2n) { margin-right: 0; }
          .txt-box { padding: 3.8vw 0; min-height: 38vw;
            .tit { font-size: 4.5vw; }
            .sub-tit { font-size: 4vw; }
            .txt { font-size: 3.5vw; }
          }
        }
      }
    }
    .v4 { font-size: 0; padding-bottom: 0;
      .v4-inner {
        ul { font-size: 0;
          .tab { width: 50%; height: 25vw; border: 1px solid #d8d8d8;
            a {
              p { font-size: 3vw; margin-top: 13vw; }
              .mo { display: block; }
            }
          }
        }
        .view { padding: 5vw 0 0; overflow: hidden;
          .view-cont { padding: 0 5vw; margin-bottom: 5vw; position: relative; min-height: 80vw;
            .cell { height: 40vw; width: 100% !important;
              &.cell2 { margin-top: 2vw;}
              img { width: auto!important; height: 100% !important; margin: 0!important; }
              .cell-box { position: relative; top: auto; transform: none; text-align: left;
                p {
                  &.num { font-size: 25px; }
                  &.tit { font-size: 18px; }
                  &.txt { font-size: 16px; margin-top: 2.5vw; }
                }
              }
              &.cell2.cell-bt { position: absolute; left: 5vw; bottom: 0; width: 90% !important; }
              &.cell3.cell-tp { position: absolute; left: 5vw; top: 0;  width: 90% !important; }
            }
          }
        }
      }
    }
  }

  //sub01052 *****************************
  .sub01052 {
    .cont-sub01052 { padding-bottom: 0;
      .v-sub-tit { font-size: 18px; padding: 0 2vw; }
    }
    .v1 { padding-top: 0;}
    .v2 {
      .v-tit { font-size: 5vw; }
      .ico3 { top:30vw; }
      .img-box { margin-top: 10vw;
        ul {
          li { margin-bottom: 0;
            img { width: 100%; height: 17vw; }
            a { font-size: 4vw; width: 30vw; height: 8vw; padding-left: 2vw;
              &:hover {
                &:after { right: 3vw; }
              }
              &:after { width: 2vw; height: 3.8vw; right: 3vw; top: 1.4vw; }
            }
          }
        }
      }
    }
    .v3, .v8 {
      .txt-box {
        p {
          &.txt {
            .web { display: none; }
          }
        }
        .btns { width: 100%; text-align: center;
          a { font-size: 3vw; height: 7.3vw; line-height: 7.3vw; vertical-align: middle; }
          a:nth-child(1) { width: 45%; margin: 0 1%; }
          a:nth-child(2) { width: 45%; margin: 0 1%; }
        }
      }
    }
    .box {
      .box-inner {
        .tit { font-size: 23px; }
        .sub-tit { font-size:16px; }
        .btns { width: 100%; text-align: center;
          a { font-size: 3vw; height: 7.3vw; line-height: 7.3vw; vertical-align: middle; }
          a:nth-child(1) { width: 45%; margin: 0 1%; }
          a:nth-child(2) { width: 45%; margin: 0 1%; }
        }
      }
    }
    .v5 {
      ul { padding: 0 5vw;
        li { margin: 3vw 0; width: 50% }
      }
    }
    .v8 {
      img { width: 83vw; height: 86vw; }
      .txt-box { margin-left: 0;
        p {
          &.txt { font-size: 14px; }
          &.sub-txt { font-size: 15px; }
        }
        .btns { width: 100%; text-align: center;
          a { font-size: 3vw; height: 7.3vw; line-height: 7.3vw; vertical-align: middle; }
          a:nth-child(1) { width: 45%; margin: 0 1%; }
          a:nth-child(2) { width: 45%; margin: 0 1%; }
        }
      }
    }
  }
}



