@charset "utf-8";

/* skip Navi */
#accessibility{position:absolute;top:-1px;left:0;background-color:#333;z-index:999999}
#accessibility a{position:absolute;top:0;left:0;padding:10px 25px;margin-top:-100px;text-align:center;line-height:1;white-space:nowrap;background:#000}
#accessibility a:link{color:#333;}
#accessibility a:focus{margin-top:0;text-decoration:underline;color:#fff}


/* top_banner */
#top_banner{background:#ebebec;height:130px;position:relative;width:100%;z-index:10;}
#top_banner a{display:block;position:relative;text-align:center}
#top_banner .swiper-wrapper {height:130px;}
#top_banner .swiper-button-prev {left:auto;right:159px;top:33px;width:65px;height:65px;margin:0;background:#fff  url('../img/common/btn_b_prev.png') no-repeat 50% 50%;;border:1px solid #d6d6d6;}
#top_banner .swiper-button-next.swiper-button-disabled, #top_banner .swiper-button-prev.swiper-button-disabled{opacity:1;}
#top_banner .swiper-button-next {right:95px;top:33px;width:65px;height:65px;margin:0;background:#fff  url('../img/common/btn_b_next.png') no-repeat 50% 50%;;border:1px solid #d6d6d6;}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{display:none;}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{display:none;}
#top_banner .btn_close{position:absolute;right:31px;top:33px;width:65px;height:65px;background:#1f7ce5  url('../img/common/btn_close.png') no-repeat 50% 50%;;border:1px solid #d6d6d6;font-size:0;z-index:1000;}


.img_mo{display:none;}

@media screen and (max-width:800px) {
	#top_banner .swiper-button-prev,#top_banner .swiper-button-next{display:none;}
}
@media screen and (max-width:700px) {
	.img_mo{display:block;}
	#top_banner .swiper-wrapper .img_mo{display:block;margin:0 auto;}
	.img_pc{display:none;}
	#top_banner .btn_close{display:none;}
	#top_banner{height:94px;}
	#top_banner .swiper-wrapper {height:94px;}
}


/* header */
#header {position:fixed;width:100%; height:89px; z-index:101;border-bottom:1px solid #e9e9e9;}
#header:before {/* content:""; position:absolute;left:0; width:100%; display:inline-block; background:#fff;  top:0; left:0px;  height:89px;  z-index:-1; *//*-moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;*/}
#header .logo {position:absolute; top:27px; left:45px;z-index:300;}
#header .logo a{display:block;font-size:0;width:191px;height:28px;background:url('../img/common/logo.png') no-repeat 0 0;}
#header .mobile{display:none;background: url('../img/common/btn_menu.png') no-repeat 50% 50%;}
.open-menu #header .logo {z-index:10;}

#gnb{position:relative;width:100%;padding:0;height:89px;z-index:200;}
#gnb .menu{padding-top:23px;text-align:center;height: 89px;position: relative;z-index: 99;background: #fff;border-bottom:1px solid #e9e9e9;}
#gnb .menu:after{content:"";display:block;clear:both;}
#gnb .menu > li{display:inline-block;height:100%;vertical-align:top}
#gnb .menu > li > a{position:relative;display:inline-block;padding:13px 27px 0;height:53px;line-height:1.2;font-size:16px;color:#012943;font-family:'S-CoreDream-5medium';letter-spacing:-1px;font-weight: 500;}
#gnb .menu > li > a:hover{text-decoration:none;}
#gnb .menu > li.on > a{color:#2f68c2;}
#gnb .menu > li.on > a:after{content:'';position:absolute;left:50%;width:6px;height:6px;margin-left:-3px;top:0;background:#196eda;border-radius:100%;}
#gnb .submenu{position:absolute;left:0;top:89px;width:100%;z-index:11;height:0;background:#fff url('../img/common/bg_submenu.jpg') no-repeat 100% 0;border:none;overflow:hidden;padding:0;border-sizing:border-box;display:none;transition: all 0.4s ease;}
#gnb .on .submenu{padding:30px 0 27px;}

#gnb .submenu .title{float:left;width:345px;height:303px;border-right:1px solid #e9e9e9;padding:37px 0 0 126px;box-sizing:border-box;font-size:15px;color:#787878;text-align:left;}
#gnb .submenu .title strong{font-size:24px;color:#303030;font-weight:700;display:block;margin-bottom:15px;}
#gnb .submenu > ul{position:relative;float:left;width:1064px;height:303px;text-align:left;padding:8px 0 0;box-sizing:border-box;}
#gnb .submenu > ul:after{content:'';display:block;width:1px;height:303px;position:absolute;left:259px;top:0;background:#e9e9e9;}
#gnb .submenu > ul > li{display:block;padding:0 0 0 16px;}
#gnb .submenu > ul > li > a{position:relative;display:block;width:257px;padding:9px 0 9px 22px;font-size:16px;color:#2f68c2;font-size:500;z-index:10;}
#gnb .submenu > ul > li.on > a{color:#fff;background:#2f68c2 url('../img/common/check_gnb.png') no-repeat 226px 50%;border-radius:17px 2px 17px 17px;}
#gnb .submenu > ul ul{display:none;position:absolute;left:322px;top:19px;width:726px;}
#gnb .submenu > ul ul li{width:242px;height:130px;}
#gnb .submenu > ul ul li a{display:inline-block;}
#gnb .submenu > ul ul li a span{display:inline-block;width:232px;height:75px;border:1px solid #e5e5e5;text-align:center;}
#gnb .submenu > ul ul li a span:before{content:'';display:inline-block;width:0;height:75px;vertical-align:middle;}
#gnb .submenu > ul ul li a img{vertical-align:middle;}
#gnb .submenu > ul ul li a em{font-size:16px;color:#b2b2b2;padding:10px 0 0 10px;display:inline-block;}
#gnb .submenu > ul ul li:nth-child(2){position:absolute;left:0;top:130px;}
#gnb .submenu > ul ul li:nth-child(3){position:absolute;left:242px;top:0;}
#gnb .submenu > ul ul li:nth-child(4){position:absolute;left:242px;top:130px;}
#gnb .submenu > ul ul li:nth-child(5){position:absolute;left:484px;top:0;}
#gnb .submenu > ul ul li:nth-child(6){position:absolute;left:484px;top:130px;}
#gnb .submenu > ul > li.on ul{display:block;}

#gnb_banner{width:375px;height:295px;position:absolute;right:134px;top:37px;border-left:1px solid #e9e9e9;padding-left:56px;box-sizing:border-box;}
#gnb_banner .swiper-wrapper {height:210px;padding:29px 0 0;width:319px;}
#gnb_banner .swiper-container-horizontal>.swiper-pagination-bullets, #gnb_banner .swiper-pagination-custom, #gnb_banner .swiper-pagination-fraction{bottom:auto;top:-10px;text-align:right;padding-right:14px;z-index:10;}
#gnb_banner .swiper-pagination-bullet{width:5px;height:5px;}
#gnb_banner a{display:block;text-align:left;}
#gnb_banner a strong{display:block;color:#000;font-size:16px;padding:11px 0 0 14px;text-align:left;}
#gnb_banner a span{display:block;font-size:14px;padding:4px 0 0 14px;text-decoration:none;}

#gnb:after{position:fixed;left:0;top:250px;z-index:10;width:100%;height:calc(100% - 250px);z-index:-1;background:#000;;opacity:0;transition: all 0.5s ease;}
#gnb.open:after{content:'';z-index:-1;opacity:0.3;transition: all 0.5s ease;}
#gnb.open{height:434px;}

#gnb .util{position:absolute;right:0;top:36px;width:355px;z-index:100;}
#gnb .util li{display:inline-block;margin-right:29px;vertical-align:top;}
#gnb .util li a{display:block;color:#5d5d5d;font-size:14px;letter-spacing:-0.02em;font-weight:500;}
#gnb .util li a:hover{text-decoration:none;}
#gnb .util .login:before{content:'';width:12px;height:12px;display:inline-block;margin-right:13px;vertical-align:-1px;background:url('../img/common/ico_login.png') no-repeat 0 0;}
#gnb .util .join:before{content:'';width:11px;height:11px;display:inline-block;margin-right:11px;vertical-align:1px;background:url('../img/common/ico_join.png') no-repeat 0 0;}
#gnb .util .search{width:21px;height:21px;margin-right:0;vertical-align:top;background:url('../img/common/btn_search.png') no-repeat 0 0;font-size:0;}
#gnb .search_top{display:none;position:absolute;left:-95px;width:314px;top:-13px;text-align:left;}
#gnb .search_top legend{font-size:0;}
#gnb .search_top input{width:237px;height:47px;vertical-align:top;font-size:16px;padding:0 22px;border:none;background:#2f68c2;border-radius:23px 0 0 23px ;box-sizing:border-box;color:#fff;}
#gnb .search_top input::placeholder { color: #fff;}
#gnb .search_top button{margin-left:-4px;vertical-align:top;width:43px;height:47px;background:#2f68c2 url('../img/common/btn_search2.png') no-repeat 0 50%;;border-radius:0 10px 23px 0;font-size:0;border:none;}
#gnb .search_top .btn_close{position:absolute;top:12px;right:0;width:25px;height:25px;background:#fff  url('../img/common/btn_close2.png') no-repeat 100% 50%;font-size:0;}

#gnb .submenu2{width:100%;height:86px;background:#2655c0;box-shadow:5px 0 10px rgba(0,0,0,0.2);}
#gnb .tab_ty1{width:1280px;margin:0 auto 0;padding:0;background-color:#2655c0;}
#gnb .tab_ty1 li{width:16.6%;}
#gnb .tab_ty1 li a{height:86px;line-height:86px;padding:0;display:block;text-align:center;background-color:#2655c0;}
#gnb .tab_ty1 li.active a{background-color:#1f7ce5;}

#open_mn{position:absolute;right:66px;top:29px;width:35px;height:35px;vertical-align:top;z-index:13;}
#open_mn a{display:block;width:35px;height:35px;background:url('../img/common/btn_menu.png') no-repeat 50% 50%;font-size:0;}
#bak_mn{position:absolute;left:0;top:0;width:21px;height:21px;vertical-align:top;}
#bak_mn a{display:block;width:21px;height:21px;background:url('../img/common/btn_bak.jpg') no-repeat 0 0;font-size:0;}
#close_mn{position:absolute;right:20px;top:15px;width:35px;height:35px;vertical-align:top;z-index:12;opacity:0;}
#close_mn a{display:block;width:35px;height:35px;background:#fff url('../img/common/btn_close2.png') no-repeat 50% 50%;font-size:0;}
.pc-menu #bak_mn{display:none;}

@keyframes gnbAni{
	0%{opacity:0; transform:translateY(20px);}
	100%{opacity:1; transform:translateY(0px);}
}


@media screen and (max-width:1750px) {
	#gnb .submenu .title{padding:37px 0 0 75px;width:300px;}
	#gnb_banner{right:134px;}
}
@media screen and (max-width:1680px) {
	#gnb .submenu .title{display:none;}
	#gnb_banner{right:134px;}
	#gnb .submenu > ul > li{padding-left:122px;}
	#gnb .submenu > ul ul{left:428px;}
	#gnb .submenu > ul:after{left:365px;}
}
@media screen and (max-width:1430px) {
	#gnb_banner{right:134px;display:none;}
}
@media screen and (max-width:1375px) {
	#gnb .menu{margin-left: -115px;}
}
@media screen and (max-width:1290px) {
	#gnb .menu > li > a{padding: 13px 17px 0;}
}
@media screen and (max-width:1279px) {
	#header{width:100%;left:0;margin:0;position:fixed;height:61px;background: #fff;}
	#header:before{position:absolute;height:50px;}
	#header .logo{left:19px;top:21px;}
	#header .logo a{height:19px;background-size:auto 100%;}
	#header .mobile{display:block;font-size:0;opacity:1;background: url('../images/common/btn_mo_menu.png') no-repeat 50% 50%;position:absolute;right:113px;top:0;width:50px;height:50px;background-size:18px auto;}
	.open-menu #header .mobile{transition:all 0.5s ease 0.3s;opacity:0;}
	#header .mask{opacity:0;}
	.open-menu #header .mask{display:block;position:fixed;left:0;top:0;width:100%;height:100%;z-index:50;opacity:0.8;transition:all 0.5s ease 0.3s;}

	#open_mn{right:20px;top:14px;}
	.open-menu #close_mn{transition:all 0.5s ease 0.3s;opacity:1;z-index:13;}
	.open-menu #open_mn{transition:all 0.5s ease 0.3s;opacity:0;}

	#gnb::after{display:none;}
	#gnb {overflow-y:auto; position:fixed; top:191px;left:auto; right:-1300px;width:100%;height:calc(100% - 191px); z-index:1000;background:#fff;padding-bottom:50px;text-align:right;}
	#gnb .util{position:relative;top:auto;right:auto;padding:17px 23px 0 33px;height:58px;text-align:right;border-bottom:1px solid #e9e9e9;width:100%;}
	#gnb .util li:last-child{margin-right:0;}
	#bak_mn{left:33px;top:20px;opacity:0;}

	#gnb .search_top{left:auto;right:20px;top:5px;}

	#gnb .menu{padding-top:27px;margin-left:0;width:100%;box-sizing:border-box;transform: translate3d(10px, 0, 0); transition-duration: 0.3s;}
	#gnb .menu > li{display:block;width:100%;}
	#gnb .menu > li > a{font-family:'Noto Sans KR',sans-serif;font-weight:300;color:#4179bd;font-size:17px;padding: 20px 0;}

	#gnb.depth2 .menu{width:100%;padding-right:65%;margin:0;transition: all .5s ease;transform: translate3d(0, 0px, 0); transition-duration: 0.8s;}
	#gnb.depth2 #bak_mn{opacity:1;transition:all 0.5s ease 0.3s;}
	#gnb.depth2 .menu li a{display:block;padding-left:33px;text-align:left;}
	#gnb.depth2 .submenu > ul{border-left:1px solid #e9e9e9;}

	#gnb.depth3 .menu{width:0;padding-right:100%;left:-300px;;margin:0;transition: all .5s ease;transform: translate3d(0, 0px, 0); transition-duration: 0.8s;}
	#gnb.depth3 .menu > li > a{font-size:0;}
	#gnb.depth3 .submenu{left:0;width:100%;transition: all .5s ease;transform: translate3d(0, 0px, 0); transition-duration: 0.8s;}
	#gnb.depth3 .submenu ul{border:none;}
	.open-menu #gnb.depth3 .submenu > ul ul{width:65%;left:32%;padding-left:4%;top:0;border-left:1px solid #e9e9e9;}
	#gnb.depth3 .submenu > ul ul li:nth-child(2), #gnb.depth3 .submenu > ul ul li:nth-child(3), #gnb.depth3 .submenu > ul ul li:nth-child(4),
	#gnb.depth3 .submenu > ul ul li:nth-child(5),#gnb.depth3 .submenu > ul ul li:nth-child(6){position:relative;left:auto;top:auto;}
	#gnb.depth3 .submenu > ul > li > a{width:116px;}
	#gnb.depth3 .submenu > ul:after{display:none;}
	#gnb.depth3 .submenu > ul ul{left:32%;}

	#gnb .submenu{background:none;top:0;}
	#gnb.depth2 .submenu{position:absolute;top:0;left:35%;width:65%;}
	#gnb .submenu li{padding:0;}
	#gnb .submenu li a{display:block;}

	#gnb .submenu > ul{float:none;position:absolute;left:0;width:100%;top:0;transition: all .5s ease;transform: translate3d(0, 0px, 0); transition-duration: 0.8s;}
	#gnb .submenu .title{display:none;}
	#gnb .submenu > ul > li{padding-left:20px}
	#gnb.depth2 .menu li a{width:100%;}

	.open-menu #gnb .menu{height:calc(100%);}
	.open-menu #gnb .menu li{height:auto;}
	.open-menu #gnb .submenu > ul ul{left:0;width:100%;}
	.open-menu #gnb .submenu{height:100%;}
	.open-menu #gnb .submenu > ul ul li{padding-bottom:5px;}
	#gnb .submenu > ul{top:40px;padding-top:0;height:330px;}
	#gnb .submenu > ul > li > a{padding:5px 0 28px;color:#000;}
}
@media screen and (max-width:700px) {
	#gnb{top: 155px;height:calc(100% - 155px);}
}
@media screen and (max-width:640px) {
	.m_w100p{width:100% !important;}
	.m_mt5{margin-top:5px !important;}
	.m_mb5{margin-bottom:5px !important;}
}
@media screen and (max-width:439px) {
	#gnb {width:290px;}
	#gnb #close_mn{right:300px;height:20px;width:20px;}
	#gnb #close_mn a{background-size:90% auto;}
	#gnb .util li:last-child{display:none;}
}
@media screen and (max-width:320px) {
	#gnb #close_mn{right:295px;}
}



/* footer */
#footer{position:relative;width:100%;background:#2b2c31;margin-top:120px;}
#footer .footer_in{position:relative;width:1280px;margin:0 auto;}
#footer .ft_link1 {padding:41px 0 31px 48px;border-bottom:1px solid #6b6c6f}
#footer .ft_link1 li{display:inline-block;width:auto;padding:0 66px 0 0;}
#footer .ft_link1 a{display:inline-block;width:auto;font-size:18px;color:#bebebf;line-height:23px;letter-spacing:-0.02em;}
#footer .ft_link1 a:hover{text-decoration:none;}
#footer .ft_link1 li:nth-child(1) a{padding-left:42px;background:url('../img/common/ico_footer_m1.png') no-repeat 0 0;}
#footer .ft_link1 li:nth-child(2) a{padding-left:43px;background:url('../img/common/ico_footer_m2.png') no-repeat 0 2px;}
#footer .ft_link1 li:nth-child(3) a{padding-left:37px;background:url('../img/common/ico_footer_m3.png') no-repeat 0 0;}
#footer .ft_link2{position:absolute;left:562px;top:42px;width:auto;z-index:100;}
#footer .ft_link2 li{display:inline-block;width:auto;padding:0 34px 0 0;}
#footer .ft_link2 li a{display:inline-block;width:auto;font-size:15px;color:#bebebf;line-height:1.4;}
#footer .ft_link3{display:block;position:absolute;right:0;top:134px;width:250px;}
#footer .ft_link3 li{display:inline-block;width:auto;padding:0 5px 0 0;}
#footer .ft_link3 li:nth-child(2){padding-right:16px;}
#footer .ft_link3 li:nth-child(1) a{display:inline-block;width:27px;height:27px;background:url('../img/common/btn_footer_m1.png') no-repeat 0 0;font-size:0;z-index:100;}
#footer .ft_link3 li:nth-child(2) a{display:inline-block;width:27px;height:27px;background:url('../img/common/btn_footer_m2.png') no-repeat 0 0;font-size:0;z-index:100;}
#footer .ft_link3 li:nth-child(3) a{display:inline-block;width:149px;height:27px;background:url('../img/common/btn_footer_m3.png') no-repeat 0 0;font-size:0;z-index:100;}
#footer address{padding:53px 0 0 44px;font-size:15px;line-height:1.6;color:#fff;opacity:0.5;}
#footer address span{display:inline-block;font-size:15px;line-height:1.6;color:#fff;}
#footer .copy{padding:0 0 58px 44px;font-size:15px;line-height:1.6;color:#fff;opacity:0.5;}



@media screen and (max-width:1279px) {
	#footer{margin-top:100px;}
	#footer .footer_in{width:100%;}

}
@media screen and (max-width:938px) {
	#footer .ft_link3{width:113px;top:115px;}
	#footer .ft_link3 li:nth-child(3){display:none;}
	#footer address{padding:32px 0 0 44px;}
	#footer .copy{padding:0 0 45px 44px;}
}
@media screen and (max-width:878px) {
	#footer .ft_link1 li{padding:0 34px 0 0;}
	#footer .ft_link2 {left: 474px;}
	#footer .ft_link2 li{padding:0 33px 0 0;}
	#footer address{padding: 32px 120px 0 44px;}
}
@media screen and (max-width:785px) {
	#footer .ft_link1{padding:18px 0 18px 21px;}
	#footer .ft_link1 li:last-child{margin:0;}
	#footer .ft_link1 a{font-size:14px;}
	#footer .ft_link2 {position:relative;left:0;top:0;padding:25px 21px;}
	#footer .ft_link2 li:last-child{margin:0;}
	#footer .ft_link2 li a{font-size:14px;}
	#footer .ft_link3{width:82px;top:68px;}
	#footer address{padding:12px 0 0 0;font-size:13px;text-align:center;}
	#footer address span{font-size:13px;}
	#footer .copy{padding:0 0 28px 0;font-size:13px;text-align:center;}
}
@media screen and (max-width:730px) {
	#footer{margin-top:60px;}
}
@media screen and (max-width:400px) {
	#footer .ft_link1 li {padding: 0 20px 0 0;}
}