@import "asset";
@use-vw: true;
@vw: 1125;

html { .fs(18); font-family: Notokr,sans-serif; }
img { backface-visibility: hidden; }
.container {
  .wrap {
    .top {
      .swiper {
        .swiper-slide { .contain; .no-repeat; .wh(1125,595);
          &.swiper-slide1 { .bg('../img/main1.png'); }
          &.swiper-slide2 { .bg('../img/main2.png'); }
          &.swiper-slide3 { .bg('../img/main3.png'); }
        }
        .swiper-pagination { .b(30);
          .swiper-pagination-bullet { .wh(8,8); .-a(#fff); background: transparent;
           &.swiper-pagination-bullet-active { .bgc(#fff); }
          }
        }
      }
    }
    section { .mt(134); .tc; .p(0,50); .-box;
      &.sec2 { .mt(60); }
      p {
        &.txt { .fs(25); .lh(33); .mb(10); }
        &.tit { .fs(80); .lh(76); }
        &.info { .fs(15); }
        s { .bold; }
        &.add-txt { .fs(25); .bold; }
      }

      label { .m(20,0,50); .block; .rel;
        &:after { .cnt; .ib; .abs; .lt(30,50%); .contain('../img/find.png'); .wh(30,30); transform: translateY(-50%); }
        input { .fs(25); .wh(100%,80); .br(10); .bgc(#f5f5f5); .-a; outline: none; .pl(100); .-box; }
      }

      .map { .wh(100%,200); .mh-c; .mb(50); }

      .store { .wf; .mh-c; .mb(30);
        ul li { .tl; .p(40,0); .-box; .-b(#f5f5f5,2px);
          .thum-img { .wh(230,230); .ib; .vam; }
          .txt-box { .ib; .vat; .pl(40); .-box; .w(70%);
            .tit { .fs(27); .lh(35); .mb(10); }
            .score { .mb(10);
              .star, .bull { .ib; .vam;
                img { .wh(18,18); .ib; .vat; }
                p { .fs(18); .ib; .vam; .mr(30);
                  span { color:#d5d5d5; }
                }
              }
            }
            p {
              &.txt-info, &.tag { .fs(17); color:#8c8c8c; .lh(35); .mb(5); .keep-all; }
            }
          }
        }
      }
    }
    footer { .bgc(#000); .tc; .p(100,0); .-box;
      .logo { .wh(275,77); .ib; }
      p { .fs(23); color:#fff; .mt(30); .lh(45);
        span { color:#b2b2b2; }
      }
    }
  }
}
